<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
   <meta charset="UTF-8">
   <title>TALENT MAN POWER</title>
   <link rel="icon" href="../../../images/favicon.gif" type="image/x-icon"/>
   <link rel="shortcut icon" href="../../../images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="../../style/temp.css"/>
   </head>
   <body>
   <div id="container">
   <header>
   <a href="../index.html" ><img id="logo" src="../../images/logo.PNG" /></a>    
   <nav2>
   <ul>
   <li><a href="#" class="currrent">Login</a></li>
	<li><a href="#">Sign Up</a></li>
   </ul>
   </nav2>

   <nav>
   <ul>
   <li><a href="../index.html" >Home</a></li>
   <li><a href="../aboutUs.html">About us</a></li>
   <li><a href="../services.html" class="current">Services</a>
	<ul>
		<li><a href="../train.html">Training</a></li>
		<li><a href="../hiring.html">Hiring</a></li>
		<li><a href="../virtualEmp.html">Virtual Employee</a>
			<ul>
				<li><a href="#">How Does it work</a></li>
				<li><a href="#">Working remotely</a></li>
				<li><a href="#">Your office in India</a></li>
				<li><a href="#">Data Security</a></li>
				<li><a href="#">VE Facilities</a></li>
				<li><a href="#">VE Advantages</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</li>			
	</ul>
   </li>
   <li><a href="../contactUs.html">Contact</a></li>
   </ul>
   </nav>
   </header>
   <div id="intro">
   <img id="frontImage" src="../../images/download.PNG"  />
   </div>
   <div class="holder_content">
   <section class="group1">
   <h3>Covering Letter Tips</h3>
  			<span style="font-size: 14px; ">Effective cover letters explain the reasons for your interest in the specific organization and identify your most relevant skills or experiences (remember, relevance is determined by the employer's self-interest). They should express a high level of interest and knowledge about the position.</span><br>
	<br>
	<span style="font-size:14px;">If a resume is your advertisement or showcase, then a cover letter can be considered the greeting, introductory wave, or handshake that gets you in the door or opens a conversation. A cover letter sets the tone of your resume.&nbsp; It gives your resume the color &amp; excitement that is distinctly you!<br>
	<br>
	When you accompany a resume with a cover letter, you provide a better picture of yourself. A cover letter can be used to clearly state your reasons for submitting a resume and why you should shine over every other candidate/individual.<br>
	<br>
	A cover letter should complement, not duplicate, your resume. Its purpose is to interpret the data-oriented, factual resume and add a personal touch. A cover letter is often your earliest written contact with a potential employer, creating a critical first impression.<br>
	<br>
	<strong>There are three general types of cover letters:</strong><br>
	·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The&nbsp;<strong>application letter</strong>&nbsp;which responds to a known job opening.<br>
	·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The&nbsp;<strong>prospecting letter</strong>&nbsp;which inquires about possible positions.<br>
	·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The&nbsp;<strong>networking letter</strong>&nbsp;which requests information and assistance in your job search.<br>
	<br>
	Your cover letter should be designed specifically for each purpose outlined above as well as for each position you seek. Do not design a form letter and send it to every potential employer.<br>
	<br>
	<br>
	<strong>COVER LETTER</strong><br>
	The body of your cover letter lets the employer know what position you are applying for, why the employer should select you for an interview, and how you will follow-up.<br>
	<br>
	<strong>First Paragraph</strong>&nbsp;<br>
	The first paragraph of your letter should include information on why you are writing. Mention the position you are applying for and where you found the job listing. Include the name of a mutual contact, if you have one.<br>
	<br>
	<strong>Middle Paragraph(s)</strong><br>
	The next section of your cover letter should describe what you have to offer the employer. Mention specifically how your qualifications match the job you are applying for. Remember, you are interpreting your resume, not repeating it.<br>
	<br>
	<strong>Final Paragraph&nbsp;</strong><br>
	Conclude your cover letter by thanking the employer for considering you for the position. Include information on how you will follow-up.<br>
	<br>
	<strong>Complimentary Close</strong><br>
	<br>
	<br>
	<strong>Signature (</strong>Handwritten Signature)</span><br>
	&nbsp;</p>

   </section>
   <aside class="group2">
   <h3>Services</h3>

   <article class="holder_news">
   <h4>Training</h4>
   <p>need to write somethng here<span class="readmore">
   <a href="../train.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Hiring</h4>
   <p>need to write somethng 
   <span class="readmore"><a href="../hiring.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Virtual Employee</h4>
  <p>
			Hire a Full time Virtual Employee in any profession from India for only $1095-$2995/month 
	e.g. Project Managers, Mainframe System Programmers (z/OS, DB2, IMS, Adabas, CICS, Storage), DBAs (DB2, IMS, Adabas, Oracle, SQL Server), Schedulers, Operators, Software Developers, Accountants, Engineers, Lawyers, Web & Graphic Designers, Data Entry Executives, Transcriptionists, Internet Marketers, Content Writers, Finance Experts etc.
   <span class="readmore"><a href="../virtualEmp.html">Read more..</a></span></p>
   </article>
   </aside>


   </div>
   </div>
   <footer>
   <div class="container">  
   <div id="FooterTwo"> © Talent Man Power </div>
   </div>
   </footer>
   </body>
</html>