<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<script type="text/javascript" src="../../scripts/jquery-1.3.2.min.js"></script>
		<link href="../../style/webwidget_vertical_menu.css" rel="stylesheet" type="text/css">
		<link href="../../style/index.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../../scripts/webwidget_vertical_menu.js"></script>
	</head>
	<body>
	<div id="title">
		<strong>
			Talent Manpower 
		</strong><br>
		Training and Recruitment
	</div>
	<hr>
	<img src="../../images/download.jpg" class="stretch" />
	<hr>
	<table border="1">
	<tr>
		<td><div id ="sideMenu">
		<div id="webwidget_vertical_menu" class="webwidget_vertical_menu">
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="../aboutUs.html">About</a></li>
			<li><a href="../services.html">Services</a>
				<ul>
					<li><a href="../train.html">Training</a></li>
					<li><a href="../hiring.html">Hiring</a></li>
					<li><a href="../virtualEmp.html">Virtual Employee</a></li>
				</ul>
			</li>
			<li><a href="../contactUs.html">Contact Us</a></li>
		</ul>
	</div>	
    <div style="clear: both"></div>
</div></td>
<td>


<div id ="content">
<div style="line-height:20px;">
                    <p style="text-align: justify;">
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="3" style="width:100.0%;" width="100%">
	<tbody>
		<tr>
			<td>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><strong><span style="color:#0000ff;"><u><span style="font-size: 14px; ">Job Interview Tip - Improve Your Interview&nbsp;Technique</span></u></span></strong><br>
					<br>
					Job interview gives you a chance to shine. What you say and what you do is going to either move you to the next round of consideration for employment or knock you out of contention. It doesn't take much to make an impression - good or bad. If you haven't taken time to dress appropriately or if you say the "wrong" thing, it will be over.<br>
					&nbsp;<br>
					Take the time to prepare your interview technique including knowing what's on your resume, being able to present why you are qualified for the job, why you are interested in the company, and practicing staying calm and focused. It's important to remember that the image the interviewer has of you when he first meets you is the one that is going to last.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>Dress for Interview success</strong></span><br>
					The first impression you make on a potential employer can make a big difference. The first judgement an interviewer makes is going to be based on how you look and what you are wearing. That's why it's always important to dress professionally for a job interview.<br>
					<br>
					How to dress for an interview including advice on what, and what not, to wear on a job interview, appropriate interview attire, how to impress a prospective employer, business vs. business casual attire, and tips on dressing for success.<br>
					<br>
					The first impression you make on a potential employer is the most important one. The first judgement an interviewer makes is going to be based on how you look and what you are wearing. That's why it's always important to dress professionally for a job interview.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>Know the Facts</strong></span><br>
					I've been surprised when applicants weren't able to tell me their dates of employment or what they actually did on a day-to-day basis at their job. Review your work history - and make sure what you say matches what's on your resume. Take the time to learn about the company and about the job you're applying for.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>What You Don't Say</strong></span><br>
					What you don't say can - and will - be used against you in a job interview. If you come to an interview chewing gum or drinking coffee, you will already have one strike against you. Too much perfume or not enough deodorant won't help either. Not being dressed appropriately or having scuffed shoes will give you a second strike. Talking or texting on your cell phone or listening to an iPod while waiting to be called for the interview may be your final strike and you could be done with your candidacy before you even say a word.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>What You Do Say</strong></span><br>
					Your verbal communications are important. Don't use slang. Speak clearly and definitely. If you need to think about a response to an interview question, that's fine. It's better to think before you talk than to stumble over your words. so you're comfortable responding the basics.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>Listen</strong></span><br>
					It can be easy to get distracted during a job interview. It's stressful and you're in the hot seat when it comes to having to respond to questions. That said, if you do your best to listen to what the interviewer is asking, it will be easier to frame appropriate responses.<br>
					What you don't say during an interview is as important as what you do say. What's important, when interviewing, is to appear professional and attentive throughout the interview process.<br>
					&nbsp;<br>
					&nbsp;<br>
					<span style="color:#0000ff;"><u><span style="font-size: 14px; "><strong>TYPES OF INTERVIEWS</strong></span></u></span><br>
					&nbsp;<br>
					There are many types of interviews a person can face for selection. The type of interview selected is based on recruiters’ choice and requirements. For example, BPOs prefer telephonic interview as screening test.<br>
					<br>
					The various types of interviews are as follows:<br>
					<br>
					<span style="color: rgb(0, 0, 255); "><strong><u>Screening Interview</u></strong></span><br>
					Screening Interview is usually taken by organizations to see whether the candidate is suitable for further enquiry or not. It always focuses on rejection rather than selection. The interview aims at finding anything that can justify the candidate’s rejection.<br>
					The screening interview can be telephonic or face-to-face or a candidate can be judged on the basis of his/her resume.</span></span></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Telephonic Interview</u></strong></span><br>
					Organizations go for telephonic interviews as a screening test for those who live far from the job site. The time of the interview is usually intimated well in advance to the candidate. The candidate must be prepared for the interview.<br>
					·&nbsp; He/she should take measures to avoid all the distractions that may happen during the conversation.<br>
					·&nbsp; He/she should listen to the questions very carefully.<br>
					·&nbsp; One should be aware of one’s voice modulations.<br>
					·&nbsp; The candidate must keep a pen, paper and a copy of his/her resume during the interview, as questions related to resume could be asked and at times important things, like addresses and names, are required to be noted down.<br>
					·&nbsp; The candidate must note the things asked by the organizations and the facts told by him/her to the organizations.<br>
					<span style="color: rgb(0, 0, 255); "><strong><u>Traditional Face-to-Face Interview</u></strong></span><br>
					The traditional one-on-one conversation with the interviewer can be taken as a screen test or it can pertain to some competitive skill testing after the candidate has been short-listed. The candidates must prepare themselves well before this interview.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must maintain eye contact; he/she should not look distracted.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must do some research about the organization and remember all the necessary facts. He/she must be aware of the current financial position of the company, product lines and competitors of the company.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should never forget to take the resume with him/her.</span></span></div>
					</li>
				</ul>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Panel Interview</u></strong></span><br>
					This type of interview consists of the candidate facing a panel of interviewers. Usually three to ten members constitute the interview panel. The interview focuses on group management and presentation skills of the candidates. Government organizations practice this kind of interview for their recruitments.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should maintain eye contact with all the members of committee as he/she is answering them.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she must consider the committee as one.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must pay a note of thanks to all the members individually after the interview.</span></span></div>
					</li>
				</ul>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Behavioral Interview</u></strong></span><br>
					The behavioral interview considers the candidates’ past performance as the indicator for their future performance. The candidates are asked to describe their previous job profile and mention some instances where they played a major role in job-work.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must be able to describe and prove his/her competencies.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she should remember each and every aspect of his past job behaviours; the candidate must be able to relate any organizational competency with his/her own competencies.</span></span></div>
					</li>
				</ul>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Stress Interview</u></strong></span><br>
					The stress interview focuses on marketing competencies of a candidate. The main idea is to check one’s patience level to ensure that one can tackle a stressful situation. One might have to wait for quite a long time before the interview or face silence during the interview.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must recognize the event and take it as an important activity; he/she must not be frustrated.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must control his/her temper during the event.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she must be prepared to show his/her problem-solving competency.</span></span></div>
					</li>
				</ul>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Group Interview </u></strong></span><br>
					Also known as group discussion, the group interview focuses on the leadership skills of the candidates. Informal groups are formed. Each group is asked to discuss a given subject. The interviewer focuses on how a candidate interacts with others in the group and how he/she puts his/her views in the presence of others and how well he/she influence others.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must try to influence others’ point of view without passing judgments on them.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should respect others, and be cooperative; he/she should not exert pressure on any one.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should try to initiate the discussion, if not, he/she must try to conclude the dialogue.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must take part actively in the conversation.</span></span></div>
					</li>
				</ul>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong><u>Mealtime Interview</u></strong></span><br>
					Many organisations conduct interviews at lunch or dinner tables to know about the candidates’ social behaviour. This type of interview is preferred when the candidate is being evaluated for his/her interpersonal skills.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should not forget that it is an interview and must not be casual.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should not drink alcohol during the meeting.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must obey the interviewer.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must wait for the interviewer to start talking about business; he/she must not interrupt if the interviewer is discussing his own matters.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must order only those food items that can be easily eaten.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must clean up his/her teeth after the meal.</span></span></div>
					</li>
				</ul>
				<div style="margin-left: 40px;">
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Video Interview</u></strong></span><br>
					The video interview is undertaken by the organizations while recruiting global capabilities or when the candidate is applying overseas. It is the same as video conferencing.</span></span></div>
				<ul>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must focus on camera, not the display screen.</span></span></div>
					</li>
					<li>
						<div style="margin-left: 40px;">
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she should consider this as a face-to-face interview and must give attention to his/her physical appearance</span></span></div>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
</div>
</div>



</td>
</tr>
</table>
<hr>
<div id ="footer">
we will provide course duration<div id="footernavigation">
fees structure and many other details related to this course-<br>
<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="../aboutUs.html">About</a></li>
			<li><a href="../services.html">Services</a></li>
			<li>
				<ul>
					<li><a href="../train.html">Training</a></li>
					<li><a href="../hiring.html">Hiring</a></li>
					<li><a href="../virtualEmp.html">Virtual Employee</a></li>
				</ul>
			</li>
			<li><a href="../contactUs.html">Contact Us</a></li>
		</ul>
</div>
</div>
<script language="javascript" type="text/javascript">
     $(function() {
         $("#webwidget_vertical_menu").webwidget_vertical_menu({
             menu_width: '200',
             menu_height: '30',
             menu_margin: '3',
             menu_text_size: '15',
             menu_text_color: '#CCC',
             menu_background_color: '#666',
             menu_border_size: '2',
             menu_border_color: '#000',
             menu_border_style: 'solid',
             menu_background_hover_color: '#999',
             directory: 'images'
         });
     });
 </script>
</body>

</html>