<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
   <meta charset="UTF-8">
   <title>TALENT MAN POWER</title>
    	<script type="text/javascript" src="../../scripts/jquery-1.3.2.min.js"></script>
   <script type="text/javascript" src="../../scripts/index.js"></script>
   <link rel="icon" href="../../../images/favicon.gif" type="image/x-icon"/>
   <link rel="shortcut icon" href="../../../images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="../../style/temp.css"/>
   </head>
   <body>
  <div id="companySignUpOverlay" class="overlayPage">
		<div id ="companySignUpFormDiv" class="overlayFormDiv" style="height: 94%;margin-top: 0%;width: 41%;">
			<h1 id ="companySignUpFormTitle" class="overLayFormTitle"> Company Sign Up </h1>
			<img id="companySignUpFormCrossButton" class="overLayFormCrossButton" src="../images/crossButton.jpg">
			<form method=POST action="" name="companySignUpForm" id="companySignUpForm" class="overLayForm">
			<input type=hidden name=action value="companySignUpJobForm">
		<span id ="errorMessageC" class ="red"> </span>
				<h2 id="companyAccountInfo" class="" >Account Information</h2>
				<table id ="companyAccountInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>User Name:</label><br>
								<input type="text" class="textbox" name="ComUserName" id="CompanyUserName" placeholder="Name">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Password:</label><br>
								<input type="password" class="textbox" name="ComPassword" id="CompanyPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Confirm Password:</label><br>
								<input type="password" class="textbox" name="ConfirmComPassword" id="ConfirmCompanyPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Primary Email:</label><br>
								<input type="text" class="textbox" name="ComEmail" id="CompanyEmail" placeholder="Email Id">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Secondary Email (Optional):</label><br>
								<input type="text" class="textbox" name="SecondaryComEmail" id="SecondaryCompanyEmail" placeholder="Email Id">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
				</table>
				<br>
				<h2 id="companyInfo" class="" >Company Information</h2>
				<br>
				<table id ="companyInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Company Name:</label><br>
								<input type="text" class="textbox" name="ComName" id="CompanyName" placeholder="Company Name">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Contact Person:</label><br>
								<input type="text" class="textbox" name="ContactPerson" id="CompanyContactPerson" placeholder="Contact Person Name">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Contact Person Designation:</label><br>
								<input type="text" class="textbox" name="ContactPersonDesignation" id="CompanyContactPersonDesignation" placeholder="Managing Director">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Company Strength:</label><br>
								<input type="text" class="textbox" name="ComStrength" id="CompanyStrength" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Company Type:</label>
								<select name="ComType" id="CompanyType" class="textbox">
								<option value="">--Select--</option>
								<option value="1">Accounts/Finance/Tax/Audit/CS</option>
								<option value="2">Agriculture/Diary</option>
								<option value="3">Airlines</option>
								<option value="4">Animation</option>
								<option value="5">Automation/Office Equipment/Furnitures</option>
								<option value="6">Automobile</option>
								<option value="7">Automotive/Auto Ancillary</option>
								<option value="8">Aviation/Aerospace Firms</option>
								<option value="9">Banking/Broking/Financial Services</option>
								<option value="10">BPO/KPO/ITES</option>
								<option value="11">Brewery/Distillery</option>
								<option value="12">Cement</option>
								<option value="13">Ceramics/Sanitaryware</option>
								<option value="14">Chemical/PetroChemical/Plastic/Rubber</option>
								<option value="15">Construction</option>
								<option value="16">Construction</option>
								<option value="17">Consumer Durable</option>
								<option value="18">Courier/Transpiration/Freight</option>
								<option value="19">Defence/Goverment</option>
								<option value="20">Education/Teaching/Training</option>
								<option value="21">Electrical/Switchgears</option>
								<option value="22">Electronics/Semiconductors</option>
								<option value="23">Engineering/Matels/Forging</option>
								<option value="24">Export/Import</option>
								<option value="25">Facility Management</option>
								<option value="26">Fashion</option>
								<option value="27">Fertilizers/Pesticides</option>
								<option value="28">FMCG/Personal Care/Beverages</option>
								<option value="29">Food processing</option>
								<option value="30">Gems/Jewellery</option>
								<option value="31">Glass</option>
								<option value="32">Heat Ventilation Air Conditioning</option>
								<option value="33">Hotel/Restaurants</option>
								<option value="34">Immigartion</option>
								<option value="35">Industrial Product/Heavy Mechinery</option>
								<option value="36">Information Technology</option>
								<option value="37">Insurance</option>
								<option value="38">IT-Hardware/Networkintg</option>
								<option value="39">IT-Software/Software Services</option>
								<option value="40">KPO/Research/Ananlyst</option>
								<option value="41">Legal Law</option>
								<option value="42">Light Industries</option>
								<option value="43">Manufacturing</option>
								<option value="44">Media/Entertainment</option>
								<option value="45">Medical/Healthcare/Hospital</option>
								<option value="46">Mining</option>
								<option value="47">NGO/Social Services</option>
								<option value="48">Oil/Gas/Power/Infrastructures/Energy</option>
								<option value="49">Paper</option>
								<option value="50">Pharma/Biotech/Clinical Search</option>
								<option value="51">Printing/Packaging</option>
								<option value="52">Process Industries</option>
								<option value="53">Publishing</option>
								<option value="54">Real Estate/Property</option>
								<option value="55">Recruitments</option>
								<option value="56">Retail</option>
								<option value="57">Security/Law Enforcements</option>
								<option value="58">Shipping/Marine</option>
								<option value="59">Steel</option>
								<option value="60">Stock Broking</option>
								<option value="61">Strategy/Management Consultant</option>
								<option value="62">Telcom/ISP</option>
								<option value="63">Textile/Garments/Accessories</option>
								<option value="64">Travel</option>
								<option value="65">Tryes</option>
								<option value="66">Watch</option>
								<option value="67">Water Treatment/Waste Management</option>
								<option value="78">Wellness/Fitness/Sports</option>
							</select>
								
							</div>
							<div class="clear"></div>

						</td>
							<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Company Profile:</label><br>
								<input type="text" class="textbox" name="ComProfile" id="CompanyProfile" >
							</div>
							<div class="clear"></div>
						</td>
						
					</tr>
				</table>
				<br>
				<h2 id="companyAccountInfo" class="" >Account Information</h2>
				<br>
				<table id ="companyAccountInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Address:</label><br>
								<input type="text" class="textbox" name="ComAddress" id="CompanyAddress" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>City:</label><br>
								<input type="text" class="textbox" name="ComCity" id="CompanyCity">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>State:</label><br>
								<input type="text" class="textbox" name="ComState" id="CompanyState" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Country:</label><br>
								<input type="text" class="textbox" name="ComCountry" id="CompanyCountry" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Zip/PIN Code:</label><br>
								<input type="text" class="textbox" name="ComZip" id="CompanyZip">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Phone:</label><br>
								<input type="text" class="textbox" name="ComPhone" id="CompanyPhone">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Mobile:</label><br>
								<input type="text" class="textbox" name="ComMobile" id="CompanyMobile" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Fax:</label><br>
								<input type="text" class="textbox" name="ComFax" id="CompanyFax" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Website URL:</label><br>
								<input type="text" class="textbox" name="ComURL" id="CompanyURL">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
							  <label>Enter the code:<br></label>
							  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
							  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
							  <br><br>(Please enter value from image)
							</div>
						</td>
						
					</tr>
				</table>				
				</form>
				<br>
				<div id="companySignUpSubmitButton"> <a href="#" class="overLayFormSubmitButton">Submit</a></div>			
			
		</div>
	</div>
	
	
	<div id="employeeSignUpOverlay" class="overlayPage">
		<div id ="employeeSignUpFormDiv" class="overlayFormDiv" style="height: 53%;width: 37%;">
			<h1 id ="employeeSignUpFormTitle" class="overLayFormTitle"> employee Sign Up </h1>
			<img id="employeeSignUpFormCrossButton" class="overLayFormCrossButton" src="../images/crossButton.jpg" style="float: right;">
			<form method=POST action="" name="employeeSignUpForm" id="employeeSignUpForm" class="overLayForm">
			<input type=hidden name=action value="employeeSignUpJobForm">
				<span id ="errorMessage" class ="red"> </span>
				<table id ="employeePersonalDetails">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>User Name:</label><br>
								<input type="text" class="textbox" name="EmpName" id="EmpName" placeholder="Full Name">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Password:</label><br>
								<input type="password" class="textbox" name="EmpPassword" id="EmpPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Confirm Password:</label><br>
								<input type="password" class="textbox" name="ConfirmEmpPassword" id="ConfirmEmpPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>UserName(email id)</label><br>
								<input type="text" class="textbox" name="EmpEmail" id="EmpEmail" placeholder="Email Id">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Mobile:</label><br>
								<input type="text" class="textbox" name="EmpMobile" id="EmpMobile" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Address</label><br>
								<input type="text" class="textbox" name="Empaddress" id="Empaddress" >
							</div>
							<div class="clear"></div>
						</td>
						</tr>
						<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>UG Course / Basic qualification:</label><br>
								<select name="EmpCourse" id="EmpCourse" class="textbox">
								<option value="">--Select--</option>
								<option value="B.Tech">B.tech</option>
								<option value="M.Tech">M.Tech</option>
								<option value="MCA">MCA</option>
								<option value="MS">MS</option>
								<option value="CA">CA</option>
								<option value="CS">CS</option>
								<option value="MBA">MBA</option>
							</select>
								
							</div>
							<div class="clear"></div>

						</td>

					<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Work Experience</label><br>
								<input type="text" class="textbox" name="EmpExperience" id="EmpExperience" >
							</div>
							<div class="clear"></div>
						</td>
											
						
				</tr>
				<tr>
						<td>
							<div class="columtext">
							  <label>Enter the code:<br></label>
							  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
							  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
							  <br><br>(Please enter value from image)
							</div>
						</td>
				</tr>
						
				</table>
				</form>
				<br><br>
				<div id="employeeSignUpSubmitButton"> <a href="#" class="overLayFormSubmitButton">Submit</a></div>			
			</div>
		</div>
   
   
   <div id="container">
   <header>
   <a href="../index.html" ><img id="logo" src="../../images/logo.PNG" /></a>    
   <nav2>
   <ul>
   <li><a href="#" class="currrent">Login</a></li>
	<li id="signUp"><a href="#" class="currrent">SignUp</a>
	<div id="signUpBox">
		<div id="signUpEmployee" class="button" >Employee</div> 
		<div id="signUpCompany" class="button" >Company</div>  
	</div>
	</li>
   </ul>
   </nav2>

   <nav>
   <ul>
   <li><a href="../index.html" >Home</a></li>
   <li><a href="../aboutUs.html">About us</a></li>
   <li><a href="../services.html" class="current">Services</a>
	<ul>
		<li><a href="../train.html">Training</a></li>
		<li><a href="../hiring.html">Hiring</a></li>
		<li><a href="../virtualEmp.html">Virtual Employee</a>
			<ul>
				<li><a href="#">How Does it work</a></li>
				<li><a href="#">Working remotely</a></li>
				<li><a href="#">Your office in India</a></li>
				<li><a href="#">Data Security</a></li>
				<li><a href="#">VE Facilities</a></li>
				<li><a href="#">VE Advantages</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</li>			
	</ul>
   </li>
   <li><a href="../contactUs.html">Contact</a></li>
   </ul>
   </nav>
   </header>
   <div id="intro">
   <img id="frontImage" src="../../images/download.PNG"  />
   </div>
   <div class="holder_content">
   <section class="group1">
   <h3>Interview Tips</h3>
  		<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><strong><span style="color:#0000ff;"><u><span style="font-size: 14px; ">Job Interview Tip - Improve Your Interview&nbsp;Technique</span></u></span></strong><br>
		<br>
					Job interview gives you a chance to shine. What you say and what you do is going to either move you to the next round of consideration for employment or knock you out of contention. It doesn't take much to make an impression - good or bad. If you haven't taken time to dress appropriately or if you say the "wrong" thing, it will be over.<br>
					&nbsp;<br>
					Take the time to prepare your interview technique including knowing what's on your resume, being able to present why you are qualified for the job, why you are interested in the company, and practicing staying calm and focused. It's important to remember that the image the interviewer has of you when he first meets you is the one that is going to last.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>Dress for Interview success</strong></span><br>
					The first impression you make on a potential employer can make a big difference. The first judgement an interviewer makes is going to be based on how you look and what you are wearing. That's why it's always important to dress professionally for a job interview.<br>
					<br>
					How to dress for an interview including advice on what, and what not, to wear on a job interview, appropriate interview attire, how to impress a prospective employer, business vs. business casual attire, and tips on dressing for success.<br>
					<br>
					The first impression you make on a potential employer is the most important one. The first judgement an interviewer makes is going to be based on how you look and what you are wearing. That's why it's always important to dress professionally for a job interview.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>Know the Facts</strong></span><br>
					I've been surprised when applicants weren't able to tell me their dates of employment or what they actually did on a day-to-day basis at their job. Review your work history - and make sure what you say matches what's on your resume. Take the time to learn about the company and about the job you're applying for.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>What You Don't Say</strong></span><br>
					What you don't say can - and will - be used against you in a job interview. If you come to an interview chewing gum or drinking coffee, you will already have one strike against you. Too much perfume or not enough deodorant won't help either. Not being dressed appropriately or having scuffed shoes will give you a second strike. Talking or texting on your cell phone or listening to an iPod while waiting to be called for the interview may be your final strike and you could be done with your candidacy before you even say a word.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>What You Do Say</strong></span><br>
					Your verbal communications are important. Don't use slang. Speak clearly and definitely. If you need to think about a response to an interview question, that's fine. It's better to think before you talk than to stumble over your words. so you're comfortable responding the basics.<br>
					&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong>Listen</strong></span><br>
					It can be easy to get distracted during a job interview. It's stressful and you're in the hot seat when it comes to having to respond to questions. That said, if you do your best to listen to what the interviewer is asking, it will be easier to frame appropriate responses.<br>
					What you don't say during an interview is as important as what you do say. What's important, when interviewing, is to appear professional and attentive throughout the interview process.<br>
					&nbsp;<br>
					&nbsp;<br>
					<span style="color:#0000ff;"><u><span style="font-size: 14px; "><strong>TYPES OF INTERVIEWS</strong></span></u></span><br>
					&nbsp;<br>
					There are many types of interviews a person can face for selection. The type of interview selected is based on recruiters’ choice and requirements. For example, BPOs prefer telephonic interview as screening test.<br>
					<br>
					The various types of interviews are as follows:<br>
					<br>
					<span style="color: rgb(0, 0, 255); "><strong><u>Screening Interview</u></strong></span><br>
					Screening Interview is usually taken by organizations to see whether the candidate is suitable for further enquiry or not. It always focuses on rejection rather than selection. The interview aims at finding anything that can justify the candidate’s rejection.<br>
					The screening interview can be telephonic or face-to-face or a candidate can be judged on the basis of his/her resume.</span></span></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Telephonic Interview</u></strong></span><br>
					Organizations go for telephonic interviews as a screening test for those who live far from the job site. The time of the interview is usually intimated well in advance to the candidate. The candidate must be prepared for the interview.<br>
					·&nbsp; He/she should take measures to avoid all the distractions that may happen during the conversation.<br>
					·&nbsp; He/she should listen to the questions very carefully.<br>
					·&nbsp; One should be aware of one’s voice modulations.<br>
					·&nbsp; The candidate must keep a pen, paper and a copy of his/her resume during the interview, as questions related to resume could be asked and at times important things, like addresses and names, are required to be noted down.<br>
					·&nbsp; The candidate must note the things asked by the organizations and the facts told by him/her to the organizations.<br>
					<span style="color: rgb(0, 0, 255); "><strong><u>Traditional Face-to-Face Interview</u></strong></span><br>
					The traditional one-on-one conversation with the interviewer can be taken as a screen test or it can pertain to some competitive skill testing after the candidate has been short-listed. The candidates must prepare themselves well before this interview.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must maintain eye contact; he/she should not look distracted.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must do some research about the organization and remember all the necessary facts. He/she must be aware of the current financial position of the company, product lines and competitors of the company.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should never forget to take the resume with him/her.</span></span></div>
					</li>
				</ul>
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Panel Interview</u></strong></span><br>
					This type of interview consists of the candidate facing a panel of interviewers. Usually three to ten members constitute the interview panel. The interview focuses on group management and presentation skills of the candidates. Government organizations practice this kind of interview for their recruitments.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should maintain eye contact with all the members of committee as he/she is answering them.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she must consider the committee as one.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must pay a note of thanks to all the members individually after the interview.</span></span></div>
					</li>
				</ul>
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Behavioral Interview</u></strong></span><br>
					The behavioral interview considers the candidates’ past performance as the indicator for their future performance. The candidates are asked to describe their previous job profile and mention some instances where they played a major role in job-work.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must be able to describe and prove his/her competencies.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she should remember each and every aspect of his past job behaviours; the candidate must be able to relate any organizational competency with his/her own competencies.</span></span></div>
					</li>
				</ul>
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Stress Interview</u></strong></span><br>
					The stress interview focuses on marketing competencies of a candidate. The main idea is to check one’s patience level to ensure that one can tackle a stressful situation. One might have to wait for quite a long time before the interview or face silence during the interview.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must recognize the event and take it as an important activity; he/she must not be frustrated.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must control his/her temper during the event.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she must be prepared to show his/her problem-solving competency.</span></span></div>
					</li>
				</ul>
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Group Interview </u></strong></span><br>
					Also known as group discussion, the group interview focuses on the leadership skills of the candidates. Informal groups are formed. Each group is asked to discuss a given subject. The interviewer focuses on how a candidate interacts with others in the group and how he/she puts his/her views in the presence of others and how well he/she influence others.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must try to influence others’ point of view without passing judgments on them.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should respect others, and be cooperative; he/she should not exert pressure on any one.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should try to initiate the discussion, if not, he/she must try to conclude the dialogue.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must take part actively in the conversation.</span></span></div>
					</li>
				</ul>
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">&nbsp;<br>
					<span style="color: rgb(0, 0, 255); "><strong><u>Mealtime Interview</u></strong></span><br>
					Many organisations conduct interviews at lunch or dinner tables to know about the candidates’ social behaviour. This type of interview is preferred when the candidate is being evaluated for his/her interpersonal skills.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should not forget that it is an interview and must not be casual.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate should not drink alcohol during the meeting.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must obey the interviewer.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must wait for the interviewer to start talking about business; he/she must not interrupt if the interviewer is discussing his own matters.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must order only those food items that can be easily eaten.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must clean up his/her teeth after the meal.</span></span></div>
					</li>
				</ul>
				<div>
					<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; "><span style="color: rgb(0, 0, 255); "><strong><u>Video Interview</u></strong></span><br>
					The video interview is undertaken by the organizations while recruiting global capabilities or when the candidate is applying overseas. It is the same as video conferencing.</span></span></div>
				<ul>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">The candidate must focus on camera, not the display screen.</span></span></div>
					</li>
					<li>
						<div>
							<span style="font-size:11px;"><span style="font-family: verdana, geneva, sans-serif; ">He/she should consider this as a face-to-face interview and must give attention to his/her physical appearance</span></span></div>
					</li>
				</ul>
			</td>
		</tr>
	
   </section>
   <aside class="group2">
   <h3>Services</h3>

   <article class="holder_news">
   <h4>Training</h4>
   <p>need to write somethng here<span class="readmore">
   <a href="../train.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Hiring</h4>
   <p>need to write somethng 
   <span class="readmore"><a href="../hiring.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Virtual Employee</h4>
  <p>
			Hire a Full time Virtual Employee in any profession from India for only $1095-$2995/month 
	e.g. Project Managers, Mainframe System Programmers (z/OS, DB2, IMS, Adabas, CICS, Storage), DBAs (DB2, IMS, Adabas, Oracle, SQL Server), Schedulers, Operators, Software Developers, Accountants, Engineers, Lawyers, Web & Graphic Designers, Data Entry Executives, Transcriptionists, Internet Marketers, Content Writers, Finance Experts etc.
   <span class="readmore"><a href="../virtualEmp.html">Read more..</a></span></p>
   </article>
   </aside>


   </div>
   </div>
   <footer>
	   <div class="container">  
  
  			<div id="FooterOne">
    			Call now at,<span id="contactno">09015760571<br></span>
   				Email:admin@talentmanpower.com
   	 		</div>
   			<img id="telephoneimage" src="../../images/Telephone.jpg" style="width: 6%;float: right;">
   			<div id="FooterTwo"> © Talent Man Power </div>
   		</div>
   </footer>
   </body>
</html>