<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
   <meta charset="UTF-8">
   <title>TALENT MAN POWER</title>
   <link rel="icon" href="../../../images/favicon.gif" type="image/x-icon"/>
   <link rel="shortcut icon" href="../../../images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="../../style/temp.css"/>
   </head>
   <body>
   <div id="container">
   <header>
   <a href="../index.html" ><img id="logo" src="../../images/logo.PNG" /></a>    
   <nav2>
   <ul>
   <li><a href="#" class="currrent">Login</a></li>
	<li><a href="#">Sign Up</a></li>
   </ul>
   </nav2>

   <nav>
   <ul>
   <li><a href="../index.html" >Home</a></li>
   <li><a href="../aboutUs.html">About us</a></li>
   <li><a href="../services.html" class="current">Services</a>
	<ul>
		<li><a href="../train.html">Training</a></li>
		<li><a href="../hiring.html">Hiring</a></li>
		<li><a href="../virtualEmp.html">Virtual Employee</a>
			<ul>
				<li><a href="#">How Does it work</a></li>
				<li><a href="#">Working remotely</a></li>
				<li><a href="#">Your office in India</a></li>
				<li><a href="#">Data Security</a></li>
				<li><a href="#">VE Facilities</a></li>
				<li><a href="#">VE Advantages</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</li>			
	</ul>
   </li>
   <li><a href="../contactUs.html">Contact</a></li>
   </ul>
   </nav>
   </header>
   <div id="intro">
   <img id="frontImage" src="../../images/download.PNG"  />
   </div>
   <div class="holder_content">
   <section class="group1">
   <h3>Resume Tips</h3>
   <span style="font-family:verdana,geneva,sans-serif;">Your resume is the face you present. Recruiters will hardly have 1 minute to glance at your resume. They get hundreds. Follow our Resume Tips to get your resume noticed.<br>
	<br>
	Gather and Check All Necessary Information:<br>
	Write down headings such as <strong>EDUCATION, EXPERIENCE, SKILLS, ACTIVITIES. </strong><br>
	<br>
	<strong>EDUCATION</strong> List degrees and month/year obtained or expected; names and locations of schools; major and marks/grades scored. A brief summary of important courses you've taken might also be helpful.<br>
	<br>
	<strong>EXPERIENCE</strong> List the month/years you worked, position, location, employer Name &amp; responsibilities you had.<br>
	<br>
	<strong>SKILLS</strong>. List computer languages and software, communication (including languages), leadership, or athletic, among others.<br>
	<br>
	<strong>ACTIVITIES</strong>. List academic, professional organizations of which you are currently a member; organize the Resume Effectively<br>
	<br>
	<strong>PERSONAL INFORMATION</strong>: Top center of first page. Name, Fathers Name, Date of Birth, Permanent Addresses, phone numbers (Landline &amp; Mobile), e-mail and/or fax addresses (optional); citizenship if applicable.<br>
	<br>
	<strong>EXPERIENCE: Here,</strong> you can use one of two formats:<br>
	<strong>Functional:</strong> To emphasize skills and talents, cluster your experience under headings that highlight these skills<br>
	<br>
	<strong>Chronological: </strong>To emphasize work experience, list jobs beginning with the most recent.<br>
	<br>
	<br>
	<strong>CONTENT</strong></span></p>
<ul>
	<li>
		<span style="font-family: verdana, geneva, sans-serif;">Name is at the top of the page: highlighted by slightly larger typesize, bolding, and/or underlining</span></li>
</ul>
<ul>
	<li>
		<span style="font-family: verdana, geneva, sans-serif;">Address and phone number(s) are complete and correct, with PIN codes, and are well-placed in relation to name</span></li>
</ul>
<ul>
	<li>
		All entries highlight a capability or accomplishment</li>
</ul>
<ul>
	<li>
		Repetition of words or phrases is kept to a minimum</li>
</ul>
<ul>
	<li>
		Capitalization, punctuation, and date formats are consistent</li>
</ul>
<ul>
	<li>
		<span style="font-family: verdana, geneva, sans-serif;">There are NO typos or spelling errors</span></li>
</ul>
<div >
	<br>
	<span style="font-family:verdana,geneva,sans-serif;"><strong>ORGANIZATION</strong></span><br>
	&nbsp;</div>
<ul>
	<li>
		Your best assets, whether education, experience, or skills, are listed first.</li>
</ul>
<ul>
	<li>
		The page can be easily reviewed: categories are clear, text is indented.</li>
</ul>
<ul>
	<li>
		The dates of employment are easy to find and consistently formatted.</li>
</ul>
<ul>
	<li>
		Your name is printed at the top of each page.</li>
</ul>
<ul>
	<li>
		<span style="font-family: verdana, geneva, sans-serif;">justification creates awkward white spaces.</span></li>
</ul>
<div>
	<span style="font-family:verdana,geneva,sans-serif;">&nbsp;<br>
	&nbsp;</span><br>
	<strong style="color: rgb(0, 0, 255); font-size: 18px; font-family: verdana, geneva, sans-serif;">10 TIPS OF WRITING RESUME.</strong></div>
<div style="text-align: justify">
	<span style="font-family:verdana,geneva,sans-serif;">The thought of writing a resume intimidates almost anyone. It's difficult to know where to start or what to include. It can seem like an insurmountable task. Here are 10 tips to help you not only tackle the task, but also write a winning resume.</span></div>
<ol>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Determine your job search objective prior to writing the resume. Once you have determined your objective, you can structure the content of your resume around that objective. Think of your objective as the bull's-eye to focus your resume on hitting. If you write your resume without having a clear objective in mind, it will likely come across as unfocused to those that read it. Take the time before you start your resume to form a clear objective.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Think of your resume as a marketing tool. Think of yourself as a product, potential employers as your customers, and your resume as a brochure about you. Market yourself through your resume. What are your features and benefits? What makes you unique? Make sure to convey this information in your resume.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Use your resume to obtain an interview, not a job. You don't need to go into detail about every accomplishment. Strive to be clear and concise. The purpose of your resume is to generate enough interest in you to have an employer contact you for an interview. Use the interview to provide a more detailed explanation of your accomplishments and to land a job offer.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Use bulleted sentences. In the body of your resume, use bullets with short sentences rather than lengthy paragraphs. Resumes are read quickly. This bulleted sentence format makes it easier for someone to quickly scan your resume and still absorb it.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Use action words. Action words cause your resume to pop. To add life to your resume, use bulleted sentences that begin with action words like prepared, developed, monitored, and presented.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Use Numbers, Rs, and percentages stand out in the body of a resume. Here are two examples: · Managed a department of 10 with a budget of Rs.1, 000,000. · Increased sales by 30% in a territory.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Lead with your strengths. Since resumes are typically reviewed in 30 seconds, take the time to determine which bullets most strongly support your job search objective. Put those strong points first where they are more apt to be read.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Accent the positive. Leave off negatives and irrelevant points. If you feel your date of graduation will subject you to age discrimination, leave the date off your resume. If you do some duties in your current job that don't support your job search objective, leave them off your resume. Focus on the duties that do support your objective. Leave off irrelevant personal information like your height and weight.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Show what you know. Rather than going into depth in one area, use your resume to highlight your breadth of knowledge. Use an interview to provide more detail.</span><br>
		&nbsp;</li>
	<li>
		<span style="font-family:verdana,geneva,sans-serif;">Show who you know. If you have reported to someone important such as a vice president or department manager, say so in your resume. Having reported to someone important causes the reader to infer that you are important.&nbsp;</span></li>
</ol>
   </section>
   <aside class="group2">
   <h3>Services</h3>

   <article class="holder_news">
   <h4>Training</h4>
   <p>need to write somethng here<span class="readmore">
   <a href="../train.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Hiring</h4>
   <p>need to write somethng 
   <span class="readmore"><a href="../hiring.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Virtual Employee</h4>
  <p>
			Hire a Full time Virtual Employee in any profession from India for only $1095-$2995/month 
	e.g. Project Managers, Mainframe System Programmers (z/OS, DB2, IMS, Adabas, CICS, Storage), DBAs (DB2, IMS, Adabas, Oracle, SQL Server), Schedulers, Operators, Software Developers, Accountants, Engineers, Lawyers, Web & Graphic Designers, Data Entry Executives, Transcriptionists, Internet Marketers, Content Writers, Finance Experts etc.
   <span class="readmore"><a href="../virtualEmp.html">Read more..</a></span></p>
   </article>
   </aside>


   </div>
   </div>
   <footer>
   <div class="container">  
   <div id="FooterTwo"> © Talent Man Power </div>
   </div>
   </footer>
   </body>
</html>