<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>TalentManPower</title>
<link href="style/style.css?version=1.1" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	    
    <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="scripts/index.js"></script>
    
</head>
<body>
	<form method=POST action="" name="loginForm" id="loginForm">
		<input type=hidden name=action value="loginUser">
		Username: <input type="text" name="Username" id="loginUserName" placeholder="Email" tabindex="1"><br>
		Password: <input type="text" name="Password" id="loginUserPassword" placeholder="Password" tabindex="2"><br>
	</form>
	
	 <div class="login-btn" id="userLoginButton" tabindex="3">Login</div>                               
	
</body>
</html>