<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Training india and the world </title>
<link href="style/style.css?version=1.1" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	    
    <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="scripts/trainTopic.js"></script>
</head>
<body>
	<form method=POST action="" name="CompanyForm" id="CompanyForm">
		<input type=hidden name=action value="trainCompanyForm">
		Company Name: <input type="text" name="Name" id="CompanyName" placeholder="Name" tabindex="1"><br>
		Email Address: <input type="text" name="Email" id="CompanyEmail" placeholder="Email" tabindex="2"><br>
		Contact No: <input type="text" name="Contact" id="CompanyContactNo" placeholder="ContactNo" tabindex="3"><br>
	</form>

	 <div class="Submit_Button" id="SubmitButton" tabindex="4">Submit</div>
</body>
</html>