<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Training form</title>
 <script src="scripts/trainTopic.js"></script>
</head>
<body>
<div id="contact_form">  
<form name="contact" action="">  
  <fieldset>  
    <label for="name" id="name_label">Name</label>  
    <input type="text" name="name" id="name" size="30" value="" placeholder="Name"class="text-input" />  
    <label class="error" for="name" id="name_error">This field is required.</label>  
      
    <label for="email" id="email_label">Return Email</label>  
    <input type="text" name="email" id="email" size="30" value=""placeholder="email" class="text-input" />  
    <label class="error" for="email" id="email_error">This field is required.</label>  
      
    <label for="phone" id="phone_label">Return Phone</label>  
    <input type="text" name="phone" id="phone" size="30" value="" placeholder="ContactNo"class="text-input" />  
    <label class="error" for="phone" id="phone_error">This field is required.</label>  
      
    <br />  
    <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />  
  </fieldset>  
</form>  
</div>
</body>
</html>