#nav
{
	float: left;
	font-family: 'Oswald', sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	background: #3C4042;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(59,63,65)), color-stop(0.55, rgb(72,76,77)), color-stop(0.78, rgb(75,77,77)) );
	background: -moz-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
	background: -o-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );

}

#nav ul 
 {
	margin:0;
	padding:0;
	list-style:none;
}

#nav ul li 
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	background: url(../images/menu-link-bg.png) bottom center no-repeat;
}

#nav ul li a 
{
	width: 100%;
	float: left;
	color:#fff;
	padding: 10px 19px;
	text-decoration:none;
	background:#3C4042;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(59,63,65)), color-stop(0.55, rgb(72,76,77)), color-stop(0.78, rgb(75,77,77)) );
	background: -moz-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
	background: -o-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
	border-left: 1px solid rgba(255, 255, 255, 0.05);
	border-right: 1px solid rgba(0,0,0,0.2);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#nav ul li a:hover, #nav ul li:hover > a 
{
	color: #fff;
	background:#3C4042;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
	background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
}

#nav li ul a:hover, #nav ul li li:hover > a  
{
	color: #fff;
	background: #5C9ACD;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.17, rgb(61,111,177)), color-stop(0.51, rgb(80,136,199)), color-stop(1, rgb(92,154,205)) );
	background: -moz-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
	background: -o-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
	border-bottom: 1px solid rgba(0,0,0,0.6);
	border-top: 1px solid #7BAED9;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

#nav li ul
{
	background:#3C4042;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
	background-image: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	background-image: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	left: -999em;
	margin: 35px 0 0;
	position: absolute;
	width: 160px;
	z-index: 9999;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
	moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

#nav li:hover ul 
{
	left: auto;
}

#nav li ul a 
{
	background: none;
	border: 0 none;
	margin-right: 0;
	width: 120px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

#nav li li ul
{
	margin: -1px 0 0 160px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 7px 6px;
	border-radius: 0 6px 6px 6px;
	visibility:hidden;
}

#nav li li:hover ul 
{
	visibility:visible;
}

#nav ul ul li:last-child > a 
{
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
}

#nav ul ul ul li:first-child > a 
{
	-moz-border-radius:0 6px 0 0;
	-webkit-border-radius:0 6px 0 0;
	border-radius:0 6px 0 0;
}



#signUp
{
	float: right;
	width: 91px;
}

#login
{
	float: left;
	width: 60px;
}

#UserInformation
{
	float: left;
	width: 150px;
	color: red;
}

#logOut
{
	float: right;
	width: 60px;
	cursor: pointer;
}



#login:hover
{
	background: #3C4042;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
	background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
}

#signUp:hover
{
	background: #3C4042;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
	background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
}


#loginSignUpBox
{
	float: right;
	color: rgb(255, 255, 255);
	margin-right: 219px;
	margin-top:7px;
	font-size: 20px;
	cursor:pointer;
}

#loggedInBox
{
	float: right;
	color: rgb(255, 255, 255);
	margin-right: 219px;
	margin-top:7px;
	font-size: 20px;
	cursor:pointer;
	display:none;
	
}


#loginBox
{

	background-color: #E0E6D7;
	border: 10px solid;
	border-color: #3B3F41;
	cursor: auto;
	border-radius: 15px;
	left: auto;
	display:none;
	position:absolute;
	z-index:3;
	top: 31px;
	WIDTH: 350px;
	color:#000;
	font-size:15px;
}

#signUpBox
{

	background-color: #E0E6D7;
	border: 10px solid;
	border-color: #3B3F41;
	cursor: auto;
	border-radius: 15px;
	left: auto;
	display:none;
	position:absolute;
	z-index:2;
	top: 30px;
	WIDTH: 250px;
	color:#000;
	font-size:15px;
}


#errorMessage
{
	display:none;
	font-size:20px;
}
#loginForm
{
	padding-left:10px;
	padding-top:20px;
}

#userLoginButton
{
	border:5px solid;
	border-color:#456;
	border-radius:7px;
	float: right;
	cursor: pointer;
	background-color: #456;
	font-size:20px;
	margin:20px;
	color:#fff;
}

#signUpEmployee 
{
	border:5px solid;
	border-color:#456;
	border-radius:7px;
	float: right;
	cursor: pointer;
	background-color: #456;
	font-size:15px;
	margin:20px;
	color:#fff;
}

#signUpCompany
{
	border:5px solid;
	border-color:#456;
	border-radius:7px;
	float: left;
	cursor: pointer;
	background-color: #456;
	font-size:15px;
	margin:20px;
	color:#fff;
}
#loginErrorMessage
{
	width: 151px;
	float: left;
	font-size:15px;
	margin:20px;
	display:none;
}

#login:hover #loginBox
{
	display:block;
}

#signUp:hover #signUpBox
{
	display:block;
}


.nameInput
{
	width:100px;
}

.loginInput
{
	width:75px;
}

.buttonStyle
{
	box-shadow: 5px 5px 5px #888888;
	border: 3px solid #567;
	border-radius: 5px;
}