a.button
{
	color:#fff;
	font-size:20px;
	text-decoration:none;
}

#veSideMenuContainer
{
	width:200px;
	box-shadow: 10px 10px 5px #888888;
}
	

#howDoWorkContent,#workRemotelyContent,#officeInIndiaContent,#dataSecurityContent,
#facilityContent,#advantagesContent,#getStartedContent
{
	display:none;
}

#veLearnMoreButton
{
	height:25px;
	width:106px;
	background-color:#456;
	padding:5px;login
	float:left;
}
#veGetStartedButton
{
	height:25px;
	width:93px;
	background-color:#456;
	padding:5px;
	float:right;
}

#veGetStartedOverlay
{
	display:none;
	z-index:5;
	background-color: rgba(0, 0, 0, 0.59);
	height: 100%;
	position: absolute;
	width: 100%;
}

#veGetStartedForm
{
	padding: 10px 20px 20px 20px;
}

#veGetStartedFormContainer {
	background-color: #E0E6D7;
	width: 700px;
	height: 665px;
	margin: auto;
	margin-top: 75px;
	border: 30px solid;
	border-radius: 50px;
	font-size: 15px;
	line-height:150%;
}

#veGetStartedFormTitle
{
	text-align:center;
	color:#678;
	width:647px;
	float:left;
}

#veGetStartedFormButton
{
	height:25px;
	width:120px;
	background-color:#456;
	padding:5px;
	float:right;
	color:#fff;
	margin-right: 30px;
	margin-bottom: 10px;
}

#veGetStartedFormCrossButton
{
	cursor:pointer;
}

#signUp
{
	float: right;
	width: 91px;
}

#login
{
	float: left;
	width: 60px;
}

#login:hover
{
	background: #3C4042;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
	background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
}

#loginSignUpBox
{
	float: right;
	color: rgb(255, 255, 255);
	margin-right: 219px;
	margin-top:7px;
	font-size: 20px;
	cursor:pointer;
}

#loginBox
{

	background-color: #E0E6D7;
	border: 10px solid;
	border-color: #3B3F41;
	cursor: auto;
	border-radius: 15px;
	left: auto;
	display:none;
	position:absolute;
	z-index:3;
	top: 31px;
	WIDTH: 350px;
	color:#000;
	font-size:15px;
}

#errorMessage
{
	display:none;
	font-size:20px;
}
#loginForm
{
	padding-left:10px;
	padding-top:20px;
}

#loginSubmitButton
{
	border:5px solid;
	border-color:#456;
	border-radius:7px;
	float: right;
	cursor: pointer;
	background-color: #456;
	font-size:20px;
	margin:20px;
	color:#fff;
}
#loginErrorMessage
{
	width: 151px;
	float: left;
	font-size:15px;
	margin:20px;
	display:none;
}

#login:hover #loginBox
{
	display:block;
}

.red
{
	color:#f00;
	font-size:10px;
}

.columtext
{
	float:left;
	width:350px;
}

.columtext_last
{
	float:right;
	width:300px;
}

.nameInput
{
	width:100px;
}

.loginInput
{
	width:75px;
}

.buttonStyle
{
	box-shadow: 5px 5px 5px #888888;
	border: 3px solid #567;
	border-radius: 5px;
}