a.button
{
	color:#fff;
	font-size:20px;
	text-decoration:none;
}

#veSideMenuContainer
{
	width:200px;
	box-shadow: 10px 10px 5px #888888;
}
	

#howDoWorkContent,#workRemotelyContent,#officeInIndiaContent,#dataSecurityContent,
#facilityContent,#advantagesContent,#getStartedContent
{
	display:none;
}

#veLearnMoreButton
{
	height:25px;
	width:106px;
	background-color:#456;
	padding:5px;login
	float:left;
}
#veGetStartedButton
{
	height:25px;
	width:93px;
	background-color:#456;
	padding:5px;
	float:right;
}

#veGetStartedOverlay
{
	display:none;
	z-index:5;
	background-color: rgba(0, 0, 0, 0.59);
	height: 100%;
	position: absolute;
	width: 100%;
}

#veGetStartedForm
{
	padding: 10px 20px 20px 20px;
}

#veFormContainer {
	background-color: #E0E6D7;
	width: 700px;
	height: 665px;
	margin: auto;
	margin-top: 75px;
	border: 30px solid;
	border-radius: 50px;
	font-size: 15px;
	line-height:150%;
}

#veGetStartedFormTitle
{
	text-align:center;
	color:#678;
	width:647px;
	float:left;
}

#veGetStartedFormButton
{
	height:25px;
	width:120px;
	background-color:#456;
	padding:5px;
	float:right;
	color:#fff;
	margin-right: 30px;
	margin-bottom: 10px;
}

#veContactUsFormButton
{
	height:25px;
	width:120px;
	background-color:#456;
	padding:5px;
	float:right;
	color:#fff;
	margin-right: 30px;
	margin-bottom: 10px;
}

#veContactUsForm
{
	padding-left:20px;
}

#veGetStartedFormCrossButton
{
	cursor:pointer;
}

#veGetStartedFormContainer
{
	float:left;
}

#veLoadingImage
{
	position:absolute;
	z-index:10;
	top:0px;
	left:0px;
	background:url("/tmp/images/load.gif") no-repeat center;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
}

.red
{
	color:#f00;
	font-size:10px;
}

.columtext
{
	float:left;
	width:350px;
}

.columtext_last
{
	float:right;
	width:300px;
}

.small
{
	font-size:12px;
}