<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
   <meta charset="UTF-8">
   <title>TALENT MAN POWER</title>
   <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
   <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="../style/temp.css"/>
   </head>
   <body>
   <div id="container">
   <header>
   <a href="index.html" ><img id="logo" src="../images/logo.PNG" /></a>    
   <nav2>
   <ul>
   <li><a href="#" class="currrent">Login</a></li>
	<li><a href="#">Sign Up</a></li>
   </ul>
   </nav2>

   <nav>
   <ul>
   <li><a href="index.html" >Home</a></li>
   <li><a href="aboutUs.html" class="current">About us</a></li>
   <li><a href="services.html">Services</a>
	<ul>
		<li><a href="train.html">Training</a></li>
		<li><a href="hiring.html">Hiring</a></li>
		<li><a href="virtualEmp.html">Virtual Employee</a>
			<ul>
				<li><a href="#">How Does it work</a></li>
				<li><a href="#">Working remotely</a></li>
				<li><a href="#">Your office in India</a></li>
				<li><a href="#">Data Security</a></li>
				<li><a href="#">VE Facilities</a></li>
				<li><a href="#">VE Advantages</a></li>
				<li><a href="#">Get Started</a></li>
			</ul>
		</li>			
	</ul>
   </li>
   <li><a href="contactUs.html">Contact</a></li>
   </ul>
   </nav>
   </header>
   <div id="intro">
   <img id="frontImage" src="../images/download.PNG"  />
   </div>
   <div class="holder_content">
   <section class="group1">
   <h3>About Talent Man Power</h3>
   <p>
	At TALENT MANPOWER, we are known for the high level services we can deliver and for our ability to customize these services into excellent organizational practices that meet your needs and resources. 
	</p><p>
	Our Vision: For our National as well as International clients requirements of Human Resource, we strive to provide best Indian talent and equip them with the knowledge in the best HR practices through Compensation Surveys, Training and Development and HR Consulting, so that they can significantly contribute to the clients organization’s growth. 
	</p><p>
	Our Mission: With a goal to channelize the Indian talent and to cater to the requirements of Human Resource worldwide, TALENT MANPOWER moves on the wheels of confidence and aspires to contribute to the spectral growth of our National and International clients. 
	</p><p>
	We take pride in it's: 
	</p><p>
	<ul>
	<li>Exceptionally professional approach to give result oriented services.</li>
		<br>
		<li>Very professional approach of providing alternative to hire employees locally.</li>
		<li><p>Regularly updated databank, including various fields of Engineering, Management, Marketing, Exports, IT, Finance, HR, Accounting, and Supply Chain Management for various industries.</p></li>
		<li>Wide network and contacts, facilitating the head hunting exercise.</li>
		<li><p>Team, which consists of highly, qualified & experienced professionals (MBA, Engineers, Intl. Trade & Marketing Specialists having worked with reputed companies in India at the levels of Chief Executive  & President).</p></li>
		<li><p>This has ensured repeated business to us from most of our clients who are reputed organizations including MNCs and Indian Business houses.</p></li>
	</ui>
</p>

   </section>
   <aside class="group2">
   <h3>Services</h3>

   <article class="holder_news">
   <h4>Training</h4>
   <p>need to write somethng here<span class="readmore">
   <a href="train.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Hiring</h4>
   <p>need to write somethng 
   <span class="readmore"><a href="hiring.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Virtual Employee</h4>
  <p>
			Hire a Full time Virtual Employee in any profession from India for only $1095-$2995/month 
	e.g. Project Managers, Mainframe System Programmers (z/OS, DB2, IMS, Adabas, CICS, Storage), DBAs (DB2, IMS, Adabas, Oracle, SQL Server), Schedulers, Operators, Software Developers, Accountants, Engineers, Lawyers, Web & Graphic Designers, Data Entry Executives, Transcriptionists, Internet Marketers, Content Writers, Finance Experts etc.
   <span class="readmore"><a href="virtualEmp.html">Read more..</a></span></p>
   </article>
   </aside>


   </div>
   </div>
   <footer>
   <div class="container">  
   <div id="FooterTwo"> © Talent Man Power </div>
   </div>
   </footer>
   </body>
</html>