<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<script type="text/javascript" src="../scripts/jquery-1.3.2.min.js"></script>
		<link href="../style/webwidget_vertical_menu.css" rel="stylesheet" type="text/css">
		<link href="../style/ve.css" rel="stylesheet" type="text/css">
		<link href="../style/index.css" rel="stylesheet" type="text/css">
		<link href="../style/hirizontalMenu.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../scripts/webwidget_vertical_menu.js"></script>
		<script type="text/javascript" src="../scripts/index.js"></script>
			<script type="text/javascript" src="../scripts/temp.js"></script>
		
	</head>
	<body>
	<div id="companySignUpOverlay" class="overlayPage">
		<div id ="companySignUpFormDiv" class="overlayFormDiv">
			<h1 id ="companySignUpFormTitle" class="overLayFormTitle"> Company Sign Up </h1>
			<img id="companySignUpFormCrossButton" class="overLayFormCrossButton" src="../images/crossButton.jpg">
			<form method=POST action="" name="companySignUpForm" id="companySignUpForm" class="overLayForm">
			<input type=hidden name=action value="companySignUpJobForm">
		<span id ="errorMessageC" class ="red"> </span>
				<h2 id="companyAccountInfo" class="" >Account Information</h2>
				<table id ="companyAccountInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>User Name:</label><br>
								<input type="text" class="textbox" name="ComUserName" id="CompanyUserName" placeholder="abc kumar">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Password:</label><br>
								<input type="password" class="textbox" name="ComPassword" id="CompanyPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Confirm Password:</label><br>
								<input type="password" class="textbox" name="ConfirmComPassword" id="ConfirmCompanyPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Primary Email:</label><br>
								<input type="text" class="textbox" name="ComEmail" id="CompanyEmail" placeholder="xyz@abc.com">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Secondary Email (Optional):</label><br>
								<input type="text" class="textbox" name="SecondaryComEmail" id="SecondaryCompanyEmail" placeholder="xyz@abc.com">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
				</table>
				<h2 id="companyInfo" class="" >Company Information</h2>
				<table id ="companyInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Company Name:</label><br>
								<input type="text" class="textbox" name="ComName" id="CompanyName" placeholder="abc pvt ltd">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Contact Person:</label><br>
								<input type="text" class="textbox" name="ContactPerson" id="CompanyContactPerson" placeholder="xyz chugh">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Contact Person Designation:</label><br>
								<input type="text" class="textbox" name="ContactPersonDesignation" id="CompanyContactPersonDesignation" placeholder="Managing Director">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Company Strength:</label><br>
								<input type="text" class="textbox" name="ComStrength" id="CompanyStrength" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Company Type:</label>
								<select name="ComType" id="CompanyType" class="textbox">
								<option value="">--Select--</option>
								<option value="1">Accounts/Finance/Tax/Audit/CS</option>
								<option value="2">Agriculture/Diary</option>
								<option value="3">Airlines</option>
								<option value="4">Animation</option>
								<option value="5">Automation/Office Equipment/Furnitures</option>
								<option value="6">Automobile</option>
								<option value="7">Automotive/Auto Ancillary</option>
								<option value="8">Aviation/Aerospace Firms</option>
								<option value="9">Banking/Broking/Financial Services</option>
								<option value="10">BPO/KPO/ITES</option>
								<option value="11">Brewery/Distillery</option>
								<option value="12">Cement</option>
								<option value="13">Ceramics/Sanitaryware</option>
								<option value="14">Chemical/PetroChemical/Plastic/Rubber</option>
								<option value="15">Construction</option>
								<option value="16">Construction</option>
								<option value="17">Consumer Durable</option>
								<option value="18">Courier/Transpiration/Freight</option>
								<option value="19">Defence/Goverment</option>
								<option value="20">Education/Teaching/Training</option>
								<option value="21">Electrical/Switchgears</option>
								<option value="22">Electronics/Semiconductors</option>
								<option value="23">Engineering/Matels/Forging</option>
								<option value="24">Export/Import</option>
								<option value="25">Facility Management</option>
								<option value="26">Fashion</option>
								<option value="27">Fertilizers/Pesticides</option>
								<option value="28">FMCG/Personal Care/Beverages</option>
								<option value="29">Food processing</option>
								<option value="30">Gems/Jewellery</option>
								<option value="31">Glass</option>
								<option value="32">Heat Ventilation Air Conditioning</option>
								<option value="33">Hotel/Restaurants</option>
								<option value="34">Immigartion</option>
								<option value="35">Industrial Product/Heavy Mechinery</option>
								<option value="36">Information Technology</option>
								<option value="37">Insurance</option>
								<option value="38">IT-Hardware/Networkintg</option>
								<option value="39">IT-Software/Software Services</option>
								<option value="40">KPO/Research/Ananlyst</option>
								<option value="41">Legal Law</option>
								<option value="42">Light Industries</option>
								<option value="43">Manufacturing</option>
								<option value="44">Media/Entertainment</option>
								<option value="45">Medical/Healthcare/Hospital</option>
								<option value="46">Mining</option>
								<option value="47">NGO/Social Services</option>
								<option value="48">Oil/Gas/Power/Infrastructures/Energy</option>
								<option value="49">Paper</option>
								<option value="50">Pharma/Biotech/Clinical Search</option>
								<option value="51">Printing/Packaging</option>
								<option value="52">Process Industries</option>
								<option value="53">Publishing</option>
								<option value="54">Real Estate/Property</option>
								<option value="55">Recruitments</option>
								<option value="56">Retail</option>
								<option value="57">Security/Law Enforcements</option>
								<option value="58">Shipping/Marine</option>
								<option value="59">Steel</option>
								<option value="60">Stock Broking</option>
								<option value="61">Strategy/Management Consultant</option>
								<option value="62">Telcom/ISP</option>
								<option value="63">Textile/Garments/Accessories</option>
								<option value="64">Travel</option>
								<option value="65">Tryes</option>
								<option value="66">Watch</option>
								<option value="67">Water Treatment/Waste Management</option>
								<option value="78">Wellness/Fitness/Sports</option>
							</select>
								
							</div>
							<div class="clear"></div>

						</td>
							<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Company Profile:</label><br>
								<input type="text" class="textbox" name="ComProfile" id="CompanyProfile" >
							</div>
							<div class="clear"></div>
						</td>
						
					</tr>
				</table>
				<h2 id="companyAccountInfo" class="" >Account Information</h2>
				<table id ="companyAccountInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Address:</label><br>
								<input type="text" class="textbox" name="ComAddress" id="CompanyAddress" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>City:</label><br>
								<input type="text" class="textbox" name="ComCity" id="CompanyCity">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>State:</label><br>
								<input type="text" class="textbox" name="ComState" id="CompanyState" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Country:</label><br>
								<input type="text" class="textbox" name="ComCountry" id="CompanyCountry" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Zip/PIN Code:</label><br>
								<input type="text" class="textbox" name="ComZip" id="CompanyZip">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Phone:</label><br>
								<input type="text" class="textbox" name="ComPhone" id="CompanyPhone">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Mobile:</label><br>
								<input type="text" class="textbox" name="ComMobile" id="CompanyMobile" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Fax:</label><br>
								<input type="text" class="textbox" name="ComFax" id="CompanyFax" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Website URL:</label><br>
								<input type="text" class="textbox" name="ComURL" id="CompanyURL">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
							  <label>Enter the code:<br></label>
							  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
							  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
							  <br><br>(Please enter value from image)
							</div>
						</td>
						
					</tr>
				</table>				
				</form>
				<br><br>
				<div id="companySignUpSubmitButton"> <a href="#" class="overLayFormSubmitButton">Submit</a></div>			
			
		</div>
	</div>
	
	
	<div id="employeeSignUpOverlay" class="overlayPage">
		<div id ="employeeSignUpFormDiv" class="overlayFormDiv">
			<h1 id ="employeeSignUpFormTitle" class="overLayFormTitle"> employee Sign Up </h1>
			<img id="employeeSignUpFormCrossButton" class="overLayFormCrossButton" src="../images/crossButton.jpg">
			<form method=POST action="" name="employeeSignUpForm" id="employeeSignUpForm" class="overLayForm">
			<input type=hidden name=action value="employeeSignUpJobForm">
				<span id ="errorMessage" class ="red"> </span>
				<h2 id="employeePersonalDetails" class="" >Personal Details</h2>
				<table id ="employeePersonalDetails">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>User Name:</label><br>
								<input type="text" class="textbox" name="EmpName" id="EmpName" placeholder="full name">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Password:</label><br>
								<input type="password" class="textbox" name="EmpPassword" id="EmpPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Confirm Password:</label><br>
								<input type="password" class="textbox" name="ConfirmEmpPassword" id="ConfirmEmpPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>UserName(email id)</label><br>
								<input type="text" class="textbox" name="EmpEmail" id="EmpEmail" placeholder="xyz@abc.com">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Mobile:</label><br>
								<input type="text" class="textbox" name="EmpMobile" id="EmpMobile" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Address</label><br>
								<input type="text" class="textbox" name="Empaddress" id="Empaddress" >
							</div>
							<div class="clear"></div>
						</td>
						</tr>
						<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>UG Course / Basic qualification:</label><br>
								<select name="EmpCourse" id="EmpCourse" class="textbox">
								<option value="">--Select--</option>
								<option value="B.Tech">B.tech</option>
								<option value="M.Tech">M.Tech</option>
								<option value="MCA">MCA</option>
								<option value="MS">MS</option>
								<option value="CA">CA</option>
								<option value="CS">CS</option>
								<option value="MBA">MBA</option>
							</select>
								
							</div>
							<div class="clear"></div>

						</td>

					<td>
							<div class="columtext">
								<label><span class="red">* </span>Work Experience</label><br>
								<input type="text" class="textbox" name="EmpExperience" id="EmpExperience" >
							</div>
							<div class="clear"></div>
						</td>
											
						
				</tr>
				<tr>
						<td>
							<div class="columtext_last">
							  <label>Enter the code:<br></label>
							  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
							  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
							  <br><br>(Please enter value from image)
							</div>
						</td>
				</tr>
						
				</table>
				</form>
				<br><br>
				<div id="employeeSignUpSubmitButton"> <a href="#" class="overLayFormSubmitButton">Submit</a></div>			
			</div>
		</div>
		
	<div id="nav">
		<ul>
			<li> <a href="../main.html">Home</a></li>
			<li><a href="aboutUs.html">About</a></li>
			<li><a href="services.html">Services</a>
				<ul>
					<li><a href="train.html">Training</a></li>
					<li><a href="hiring.html">Hiring</a></li>
					<li><a href="#">Virtual Employee</a>
						<ul>
							<li><a href="#">How Does it work</a></li>
							<li><a href="#">Working remotely</a></li>
							<li><a href="#">Your office in India</a></li>
							<li><a href="#">Data Security</a></li>
							<li><a href="#">VE Facilities</a></li>
							<li><a href="#">VE Advantages</a></li>
							<li><a href="#">Get Started</a></li>
						</ul>
					</li>
					
				</ul>
			</li>
			<li><a href="contactUs.html">Contact Us</a></li>
		</ul>
		<div id ="loginSignUpBox" style="float:right;color:#fff" >
			<div id="login"> Login
				<div id="loginBox">
					<form method="post" id ="loginForm">
						<input type="hidden" name ="action" value="loginUser"></input>
						User Name:
						<input id="userName" class="loginInput" name="userName" placeholder="User Name"></input>
						Password:
						<input id="password" class="loginInput"type="password" name="password" placeholder="****"></input>
						<div id ="loginErrorMessage"class="red">password or username is not correct</div>
						<div id ="loginSubmitButton" class="buttonStyle">Login</div>
					</form>
				</div>				
			</div>
			<div id ="signUp"> Signup</div>
		</div>
	</div>
	
	<div id="title">
		<strong>
			Talent Manpower 
		</strong><br>
		Training and Recruitment
		
		<div id="UserInformation" class="UserInformation" ></div>
	</div>
	<hr>
	<img src="../images/download.jpg" class="stretch" />
	<div id="loginBox" class="formBox">
		<form method=POST action="" name="loginForm" id="loginForm">
		<input type=hidden name=action value="loginUser">
		Username: <input type="text" name="Username" id="loginUserName" placeholder="Email" tabindex="1"><br>
		Password: <input type="password" name="Password" id="loginUserPassword" placeholder="Password" tabindex="2"><br>
		</form>
		<div class="login-btn" id="userLoginButton" tabindex="3">Login</div> 

	<div id="loginFailureMessage" style="display:none;">Invalid Username or password</div>

 
			<div id="signUpContainer" class="signUpContainer">
			Sign Up<br><br>
			<div id="signUpEmployee" class="signUp" >Employee</div> 
			<div id="signUpCompany" class="signUp" >Company</div>  
		</div>
	
	</div>
	
	
	<hr>
	<table border="1">
	<tr>
		<td><div id ="sideMenu">
		<div id="webwidget_vertical_menu" class="webwidget_vertical_menu">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="aboutUs.html">About</a></li>
			<li><a href="services.html">Services</a>
				<ul>
					<li><a href="train.html">Training</a></li>
					<li><a href="hiring.html">Hiring</a></li>
					<li><a href="virtualEmp.html">Virtual Employee</a></li>
				</ul>
			</li>
			<li><a href="contactUs.html">Contact Us</a></li>
		</ul>
	</div>	
    <div style="clear: both"></div>
</div></td>
<td><div id ="content">
We provides Skilled Manpower to various industries, Recruitment, HRM Solutions, Industry oriented Training programmes on various types of Technical, Non-technical, soft skills, Ztech, Information Technology (IT) and many more topics for Engineers, Managers, Supervisors, Operators and Technicians engaged in Operations, Maintenance and various types of Engineering activities.<br>
<br>
TALENT MANPOWER established by a group of highly qualified & experienced professional (MBA, Engineers, International Trade & Marketing Specialists having worked with reputed companies in India at the levels of President & Chief Executive), who are competent to give you result oriented services. <br>
<br>
In the context of globalization, restructuring and other changes, the human resources of an organization are its most critical asset in determining its sustainability and competitiveness. By offering integrated consulting, training and intervention services, our strategy ensures greater cohesion and fit within management practices and organizational objectives, leading to a greater overall performance. In fact, our dynamic team facilitates the synergy between the employees, their representatives, the managers and the senior executives to meet their organizational challenges. 
<br>
At TALENT MANPOWER, we are known for the high level services we can deliver and for our ability to customize these services into excellent organizational practices that meet your needs and resources. Our Vision: For our National as well as International clients’ requirements of Human Resource, we strive to provide best Indian talent and equip them with the knowledge in the best HR practices through Compensation Surveys, Training and Development and HR Consulting, so that they can significantly contribute to the client organization’s growth. 
<br>
Our Mission: With a goal to channelize the Indian talent and to cater to the requirements of Human Resource worldwide, TALENT MANPOWER moves on the wheels of confidence and aspires to contribute to the spectral growth of our National and International clients. 

<br>
We take pride in it's:
<br>
<ul>
<li>Very professional approach to give result oriented services. </li>
<li>Regularly updated databank, including various fields of Engineering, Marketing, Exports, IT, Finance, HR and Supply Chain Management for various industries.</li> 
<li>Wide network and contacts, facilitating the head hunting exercise. </li>
<li>Team, which consists of highly, qualified & experienced professionals (MBA, Engineers, Intl. Trade & Marketing Specialists having worked with reputed companies in India at the levels of President & Chief Executive).</li> 
<li>This has ensured repeat business to us from most of our clients who are reputed organisations including MNCs and Indian Business houses. </li>
</ul>
<br>
<br>
sara copied h itni english nahi ati

</div>
</td>
</tr>
</table>
<hr>
<div id ="footer">
yaha par bhi kuch dal deta hoon
<div id="footernavigation">
bhai kaha jaoge:-<br>
<ul>
			<li><a href="index">Home</a></li>
			<li><a href="aboutUs.html">About</a></li>
			<li><a href="services.html">Services</a></li>
			<ul>
				<li><a href="train.html">Training</a></li>
				<li><a href="hiring.html">Hiring</a></li>
				<li><a href="virtualEmp.html">Virtual Employee</a></li>
			</ul>
			<li><a href="contactUs.html">Contact Us</a></li>
		</ul>
</div>
</div>
	
<script language="javascript" type="text/javascript">
     $(function() {
         $("#webwidget_vertical_menu").webwidget_vertical_menu({
             menu_width: '200',
             menu_height: '30',
             menu_margin: '3',
             menu_text_size: '15',
             menu_text_color: '#CCC',
             menu_background_color: '#666',
             menu_border_size: '2',
             menu_border_color: '#000',
             menu_border_style: 'solid',
             menu_background_hover_color: '#999',
             directory: 'images'
         });
     });
 </script>
</body>

</html>