<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
   <meta charset="UTF-8">
   <title>TALENT MAN POWER</title>
   <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
   <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="../style/temp.css"/>
   <link rel="stylesheet" type="text/css" href="../style/virtual.css"/>
   <script type="text/javascript" src="../scripts/jquery-1.3.2.min.js"></script>
   <script type="text/javascript" src="../scripts/ve.js"></script>
   <script type="text/javascript" src="../scripts/loginInfo.js"></script>
   <script type="text/javascript" src="../scripts/index.js"></script>
  	
   </head>
      <div id="companySignUpOverlay" class="overlayPage">
		<div id ="companySignUpFormDiv" class="overlayFormDiv">
			<h1 id ="companySignUpFormTitle" class="overLayFormTitle"> Company Sign Up </h1>
			<img id="companySignUpFormCrossButton" class="overLayFormCrossButton" src="../images/crossButton.jpg">
			<form method=POST action="" name="companySignUpForm" id="companySignUpForm" class="overLayForm">
			<input type=hidden name=action value="companySignUpJobForm">
		<span id ="errorMessageC" class ="red"> </span>
				<h2 id="companyAccountInfo" class="" >Account Information</h2>
				<table id ="companyAccountInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>User Name:</label><br>
								<input type="text" class="textbox" name="ComUserName" id="CompanyUserName" placeholder="abc kumar">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Password:</label><br>
								<input type="password" class="textbox" name="ComPassword" id="CompanyPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Confirm Password:</label><br>
								<input type="password" class="textbox" name="ConfirmComPassword" id="ConfirmCompanyPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Primary Email:</label><br>
								<input type="text" class="textbox" name="ComEmail" id="CompanyEmail" placeholder="xyz@abc.com">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Secondary Email (Optional):</label><br>
								<input type="text" class="textbox" name="SecondaryComEmail" id="SecondaryCompanyEmail" placeholder="xyz@abc.com">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
				</table>
				<h2 id="companyInfo" class="" >Company Information</h2>
				<table id ="companyInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Company Name:</label><br>
								<input type="text" class="textbox" name="ComName" id="CompanyName" placeholder="abc pvt ltd">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Contact Person:</label><br>
								<input type="text" class="textbox" name="ContactPerson" id="CompanyContactPerson" placeholder="xyz chugh">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Contact Person Designation:</label><br>
								<input type="text" class="textbox" name="ContactPersonDesignation" id="CompanyContactPersonDesignation" placeholder="Managing Director">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Company Strength:</label><br>
								<input type="text" class="textbox" name="ComStrength" id="CompanyStrength" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Company Type:</label>
								<select name="ComType" id="CompanyType" class="textbox">
								<option value="">--Select--</option>
								<option value="1">Accounts/Finance/Tax/Audit/CS</option>
								<option value="2">Agriculture/Diary</option>
								<option value="3">Airlines</option>
								<option value="4">Animation</option>
								<option value="5">Automation/Office Equipment/Furnitures</option>
								<option value="6">Automobile</option>
								<option value="7">Automotive/Auto Ancillary</option>
								<option value="8">Aviation/Aerospace Firms</option>
								<option value="9">Banking/Broking/Financial Services</option>
								<option value="10">BPO/KPO/ITES</option>
								<option value="11">Brewery/Distillery</option>
								<option value="12">Cement</option>
								<option value="13">Ceramics/Sanitaryware</option>
								<option value="14">Chemical/PetroChemical/Plastic/Rubber</option>
								<option value="15">Construction</option>
								<option value="16">Construction</option>
								<option value="17">Consumer Durable</option>
								<option value="18">Courier/Transpiration/Freight</option>
								<option value="19">Defence/Goverment</option>
								<option value="20">Education/Teaching/Training</option>
								<option value="21">Electrical/Switchgears</option>
								<option value="22">Electronics/Semiconductors</option>
								<option value="23">Engineering/Matels/Forging</option>
								<option value="24">Export/Import</option>
								<option value="25">Facility Management</option>
								<option value="26">Fashion</option>
								<option value="27">Fertilizers/Pesticides</option>
								<option value="28">FMCG/Personal Care/Beverages</option>
								<option value="29">Food processing</option>
								<option value="30">Gems/Jewellery</option>
								<option value="31">Glass</option>
								<option value="32">Heat Ventilation Air Conditioning</option>
								<option value="33">Hotel/Restaurants</option>
								<option value="34">Immigartion</option>
								<option value="35">Industrial Product/Heavy Mechinery</option>
								<option value="36">Information Technology</option>
								<option value="37">Insurance</option>
								<option value="38">IT-Hardware/Networkintg</option>
								<option value="39">IT-Software/Software Services</option>
								<option value="40">KPO/Research/Ananlyst</option>
								<option value="41">Legal Law</option>
								<option value="42">Light Industries</option>
								<option value="43">Manufacturing</option>
								<option value="44">Media/Entertainment</option>
								<option value="45">Medical/Healthcare/Hospital</option>
								<option value="46">Mining</option>
								<option value="47">NGO/Social Services</option>
								<option value="48">Oil/Gas/Power/Infrastructures/Energy</option>
								<option value="49">Paper</option>
								<option value="50">Pharma/Biotech/Clinical Search</option>
								<option value="51">Printing/Packaging</option>
								<option value="52">Process Industries</option>
								<option value="53">Publishing</option>
								<option value="54">Real Estate/Property</option>
								<option value="55">Recruitments</option>
								<option value="56">Retail</option>
								<option value="57">Security/Law Enforcements</option>
								<option value="58">Shipping/Marine</option>
								<option value="59">Steel</option>
								<option value="60">Stock Broking</option>
								<option value="61">Strategy/Management Consultant</option>
								<option value="62">Telcom/ISP</option>
								<option value="63">Textile/Garments/Accessories</option>
								<option value="64">Travel</option>
								<option value="65">Tryes</option>
								<option value="66">Watch</option>
								<option value="67">Water Treatment/Waste Management</option>
								<option value="78">Wellness/Fitness/Sports</option>
							</select>
								
							</div>
							<div class="clear"></div>

						</td>
							<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Company Profile:</label><br>
								<input type="text" class="textbox" name="ComProfile" id="CompanyProfile" >
							</div>
							<div class="clear"></div>
						</td>
						
					</tr>
				</table>
				<h2 id="companyAccountInfo" class="" >Account Information</h2>
				<table id ="companyAccountInformation">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Address:</label><br>
								<input type="text" class="textbox" name="ComAddress" id="CompanyAddress" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>City:</label><br>
								<input type="text" class="textbox" name="ComCity" id="CompanyCity">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>State:</label><br>
								<input type="text" class="textbox" name="ComState" id="CompanyState" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Country:</label><br>
								<input type="text" class="textbox" name="ComCountry" id="CompanyCountry" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Zip/PIN Code:</label><br>
								<input type="text" class="textbox" name="ComZip" id="CompanyZip">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Phone:</label><br>
								<input type="text" class="textbox" name="ComPhone" id="CompanyPhone">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Mobile:</label><br>
								<input type="text" class="textbox" name="ComMobile" id="CompanyMobile" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Fax:</label><br>
								<input type="text" class="textbox" name="ComFax" id="CompanyFax" >
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Website URL:</label><br>
								<input type="text" class="textbox" name="ComURL" id="CompanyURL">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
							  <label>Enter the code:<br></label>
							  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
							  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
							  <br><br>(Please enter value from image)
							</div>
						</td>
						
					</tr>
				</table>				
				</form>
				<br><br>
				<div id="companySignUpSubmitButton"> <a href="#" class="overLayFormSubmitButton">Submit</a></div>			
			
		</div>
	</div>
	
	
	<div id="employeeSignUpOverlay" class="overlayPage">
		<div id ="employeeSignUpFormDiv" class="overlayFormDiv">
			<h1 id ="employeeSignUpFormTitle" class="overLayFormTitle"> employee Sign Up </h1>
			<img id="employeeSignUpFormCrossButton" class="overLayFormCrossButton" src="../images/crossButton.jpg">
			<form method=POST action="" name="employeeSignUpForm" id="employeeSignUpForm" class="overLayForm">
			<input type=hidden name=action value="employeeSignUpJobForm">
				<span id ="errorMessage" class ="red"> </span>
				<h2 id="employeePersonalDetails" class="" >Personal Details</h2>
				<table id ="employeePersonalDetails">
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>User Name:</label><br>
								<input type="text" class="textbox" name="EmpName" id="EmpName" placeholder="full name">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>Password:</label><br>
								<input type="password" class="textbox" name="EmpPassword" id="EmpPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Confirm Password:</label><br>
								<input type="password" class="textbox" name="ConfirmEmpPassword" id="ConfirmEmpPassword" placeholder="****">
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext_last">
								<label><span class="red">* </span>UserName(email id)</label><br>
								<input type="text" class="textbox" name="EmpEmail" id="EmpEmail" placeholder="xyz@abc.com">
							</div>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Mobile:</label><br>
								<input type="text" class="textbox" name="EmpMobile" id="EmpMobile" >
							</div>
							<div class="clear"></div>
						</td>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>Address</label><br>
								<input type="text" class="textbox" name="Empaddress" id="Empaddress" >
							</div>
							<div class="clear"></div>
						</td>
						</tr>
						<tr>
						<td>
							<div class="columtext">
								<label><span class="red">* </span>UG Course / Basic qualification:</label><br>
								<select name="EmpCourse" id="EmpCourse" class="textbox">
								<option value="">--Select--</option>
								<option value="B.Tech">B.tech</option>
								<option value="M.Tech">M.Tech</option>
								<option value="MCA">MCA</option>
								<option value="MS">MS</option>
								<option value="CA">CA</option>
								<option value="CS">CS</option>
								<option value="MBA">MBA</option>
							</select>
								
							</div>
							<div class="clear"></div>

						</td>

					<td>
							<div class="columtext">
								<label><span class="red">* </span>Work Experience</label><br>
								<input type="text" class="textbox" name="EmpExperience" id="EmpExperience" >
							</div>
							<div class="clear"></div>
						</td>
											
						
				</tr>
				<tr>
						<td>
							<div class="columtext_last">
							  <label>Enter the code:<br></label>
							  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
							  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
							  <br><br>(Please enter value from image)
							</div>
						</td>
				</tr>
						
				</table>
				</form>
				<br><br>
				<div id="employeeSignUpSubmitButton"> <a href="#" class="overLayFormSubmitButton">Submit</a></div>			
			</div>
		</div>
   
   
   <body>
   	<div id="veGetStartedOverlay" class="none">
		<div id ="veFormContainer">
			<h1 id ="veGetStartedFormTitle"> Get Started </h1>
			<img id="veGetStartedFormCrossButton" src="../images/crossButton.jpg"><br>
			<div id ="veGetStartedFormContainer">
				<form  id="veGetStartedForm"  class ="veGetStartedForm"name="veForm" method="post" action="/tmp/bridge">
					<input type=hidden name="action" value="veForm">
					<span id ="errorMessage" class ="red"> </span>
					<div>
						<span class="red">*</span> Describe Your Hiring Requirement / Skill Set In Detail<br>
						<textarea name="skillsets" id="skillsets" cols="75" rows="7" ></textarea>
					</div>
					<table id ="getStartedFormInput">
						<tr>
							<td>
								<div id="input-msg-block1"></div>
								<div class="columtext">
									<label><span class="red">* </span>Contact Person: </label><br>
									<select name="salutation" id="salutation" class="fild1">
										<option value="">Select</option>
										<option value="Mr">Mr</option>
										<option value="Mrs">Mrs</option>
										<option value="Ms">Ms</option>
										<option value="Dr">Dr</option>
									</select>
									<input type="text" class="nameInput" name="name1" id="name1" onfocus="if (this.value == 'First Name') this.value = '';" onblur="if (this.value == '') this.value = 'First Name';" value="First Name">
									<input type="text" class="nameInput" name="lname1" id="lname1" onfocus="if (this.value == 'Last Name') this.value = '';" onblur="if (this.value == '') this.value = 'Last Name';" value="Last Name">
								</div>
							</td>
							<td>
								<div class="columtext_last">
									<label><span class="red">* </span>Contact No:</label><br>
									<input type="text" class="textbox" name="phone" id="phone" onfocus="if (this.value == 'Contact Number') this.value = '';" onblur="if (this.value == '') this.value = 'Contact Number';" value="Contact Number">
								</div>
								<div class="clear"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="columtext">
									<label><span class="red">* </span>Email Address:</label>
									<input type="text" name="email" id="email" value="" class="textbox">
								</div>
							</td>
							<td>
								<div class="columtext_last">
									<label><span class="red">* </span>Country:</label>
									<select name="country" id="country" class="textbox">
										<option value="">Select</option>
										<option value="1">Australia</option>
										<option value="2">Bahrain</option>
										<option value="3">Bangladesh</option>
										<option value="4">Belgium</option>
										<option value="5">Canada</option>
										<option value="6">Doha</option>
										<option value="7">Dubai</option>
										<option value="8">France</option>
										<option value="9">Germany</option>
										<option value="10">Hong Kong</option>
										<option value="11">India</option>
										<option value="12">Indonesia</option>
										<option value="13">Ireland</option>
										<option value="14">Italy</option>
										<option value="15">Japan</option>
										<option value="16">Kenya</option>
										<option value="17">Kuwait</option>
										<option value="18">Lebanon</option>
										<option value="19">Libya</option>
										<option value="20">Malaysia</option>
										<option value="21">Maldives</option>
										<option value="22">Mauritius</option>
										<option value="23">Mexico</option>
										<option value="24">Nepal</option>
										<option value="25">Netherlands</option>
										<option value="26">New Zealand</option>
										<option value="27">Norway</option>
										<option value="28">Oman</option>
										<option value="29">Pakistan</option>
										<option value="30">Qatar</option>
										<option value="31">Quilon</option>
										<option value="32">Russia</option>
										<option value="33">Saudi Arabia</option>
										<option value="34">Singapore</option>
										<option value="35">South Africa</option>
										<option value="36">South Korea</option>
										<option value="37">Spain</option>
										<option value="38">Sri Lanka</option>
										<option value="39">Sweden</option>
										<option value="40">Switzerland</option>
										<option value="41">Thailand</option>
										<option value="42">UAE</option>
										<option value="43">UK</option>
										<option value="44">US</option>
										<option value="45">Yemen</option>
										<option value="46">Zimbabwe</option>
									</select>
								</div>
								<div class="clear"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="columtext">
									<label><span class="red">* </span>Company: </label>
									<input type="text" name="company" id="company" value="" class="textbox">
								</div>
							</td>
							<td>
								<div class="columtext_last">
									<label><span class="red">* </span>Website:</label>
									<input type="text" value="" name="website" id="website" class="textbox">
								</div>
								<div class="clear"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="columtext">
									<label>Your designation with in the company?</label>
									<select name="designation_within_the_company" id="designation_within_the_company" class="textbox" value="">
										<option value="">Please Select</option>
										<option value="Chief Executive Officer">Chief Executive Officer</option>
										<option value="Chief Operations Officer">Chief Operations Officer</option>
										<option value="Chief Financial Officer">Chief Financial Officer</option>
										<option value="Managing Director">Managing Director</option>
										<option value="HR Manager">HR Manager</option>
										<option value="Other">Other</option>
									</select>
								</div>
							</td>
							<td>
								<div class="columtext_last">
									<label>Skype/Chat ID:</label>
									<input type="text" name="skypeid" id="skypeid" class="textbox" value="">
								</div>
								<div class="clear"></div>
							</td>
						<tr>
							<td>
								<div class="columtext">
									<label><span class="red">* </span>Street Address:</label><br>
									<input type="text" name="street" id="street" class="textbox" value="">
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="columtext">
								  <input type="text" class="fild1" name="city" id="city" onfocus="if (this.value == 'City') this.value = '';" onblur="if (this.value == '') this.value = 'City';" value="City"><br>
								  <input type="text" class="fild2"  name="state" id="state" onfocus="if (this.value == 'State') this.value = '';" onblur="if (this.value == '') this.value = 'State';" value="State"><br>
								  <input type="text" class="fild3" name="pincode" id="pincode" onfocus="if (this.value == 'Postal Code') this.value = '';" onblur="if (this.value == '') this.value = 'Postal Code';" value="Postal Code">
								</div>
							</td>
							<td>
								<div class="columtext_last">
								  <label>Enter the code:<br></label>
								  <img style="float:left;" alt="captcha image" src="http://localhost:8080/tmp/captcha" width="100" height="28">
								  <input type="text"  style="width:60px;float:left; margin-left:10px;" size="6" class="input_text" name="captcha" id="captcha">
								  <br><br>(Please enter value from image)
								</div>
							</td>
						</tr>
					</table><br>
					<div id="veGetStartedFormButton" class="buttonStyle"> <a href="#" class="button">Send Enquiry </a></div>
					
				</form>
			</div>
			</div>
			</div>	
   
   <div id="container">
  <header>
   <a href="index.html" ><img id="logo" src="../images/logo.PNG" /></a>  	  
   <nav2>
   <ul>
   <li id ="login" ><a href="#" class="currrent">Login</a>
   <div id="loginBox">
			<form method="post" id ="loginForm" action="" name="loginForm">
						<input type="hidden" name ="action" value="loginUser"></input>
						<table>
							<tr>
							
								<td>User Name:</td>
								<td><input id="loginUserName" class="loginInput" name="Username" placeholder="User Name"></input></td>
							</tr>
							<tr>
								<td>Password:</td>
								<td><input id="loginUserPassword" class="loginInput"type="password" name="password" placeholder="****"></input></td>
							</tr>
						</table>
					</form>
				<a href="#" id="forgotPwd" >Forgot Password</a>
				<div id="forgotPwdDetails">
					<form method="post" id="forgotPwdForm" action="" name="forgotPwdForm">
						<input type="hidden" name="action" value="forgotPwd"/>
							Email Id:<input type="text" placeholder="Enter your Email Id" name="PwdemailId" id="PwdemailId" class="loginInput"/>
					</form>
					<div id="forgotPwdBtn" class="button">Email new password</div>
				</div>
					<div id ="loginErrorMessage"class="red">Invalid UserName or password</div>
							<div id ="userLoginButton" class="button">Login</div>
				</div>
   
   </li>
	<li id="signUp"><a href="#" class="currrent">SignUp</a>
	<div id="signUpBox">
		<div id="signUpEmployee" class="button" >Employee</div> 
		<div id="signUpCompany" class="button" >Company</div>  
	</div>
	</li>
   </ul>
   </nav2>
   
   
  <nav3>
   <ul>
   <li id="changePwd"><a href="#" class="currrent">Change Password</a>
   	
   	<div id="changePwdBox">
			<form method="post" id ="changePwdFrm" action="" name="changePwdFrm">
						<input type="hidden" name ="action" value="changePwd"></input>
						<table>
							<tr>
							
								<td>New Password:</td>
								<td><input id="newPwd" class="loginInput" name="newPwd" placeholder="New Password"></input></td>
							</tr>
							<tr>
							
								<td>Confirm Password:</td>
								<td><input id="confPwd" type="password" class="loginInput" name="confPwd" placeholder="Confirm Password"></input></td>
							</tr>
						</table>
					</form>
					<div id ="changePwdFailureDiv"class="red"></div>
							<div id ="changePwdBtn" class="button">Change</div>
				</div>	
   	</li>
   <li id ="logOut" ><a href="#" class="currrent">Log Out</a></li>
   </ul>
   </nav3>
   
   
   
   
   <nav>
   <ul>
   <li><a href="index.html" class="current">Home</a></li>
   <li><a href="aboutUs.html">About us</a></li>
   <li><a href="services.html">Services</a>
	<ul>
		<li><a href="train.html">Training</a></li>
		<li><a href="hiring.html">Hiring</a></li>
		<li><a href="virtualEmp.html">Virtual Employee</a></li>			
	</ul>
  </li>
   <li><a href="contactUs.html">Contact</a></li>
   </ul>
   </nav>
   <div id="UserInformation"> </div>
   </header>
       <div id="intro">
   <img id="frontImage" src="../images/download.PNG"  />
   </div>
   <div class="holder_content">
   <section class="group1">
   

   <nav style="width:90%;top:40px;float:left;position:static">
  		<ul>
					<li><a href="#" id ="howDoWorkLink"">How Does it work</a></li>
					<li><a href="#" id="workRemotelyLink">Working Remotely</a></li>
					<li><a href="#" id="officeInIndiaLink">Your office in India</a></li>
		</ul>
	</nav>

	<nav style="width:90%;top:80px;float:left;position:static">
		<ul>
					<li><a href="#" id ="dataSecurityLink">Data Security</a></li>
					<li><a href="#" id ="facilityLink">VE Facilities</a></li>
					<li><a href="#" id ="advantagesLink">VE Advantage</a></li>
					<li><a href="#" id ="getStartedLink">Get Started</a></li>
		</ul>
	</nav>
	<br><br><br><br><br><br><br><br>
	<div id ="content">
		<div id ="veContent">
			<h3><b>Talent ManPower</b> --	An alternative to hiring employees locally.</h3><br>
			<ul>
				<li> Want to hire an employee locally? However would like to reduce the cost?</li>
				<li> Virtual Employees are the better option than outsourcing or hiring freelancers</li>
			</ul>
			<br>
			<p>
			Hire a Full time Virtual Employee in any profession from India for only $1095-$2995/month 
e.g. Project Managers, Mainframe System Programmers (z/OS, DB2, IMS, Adabas, CICS, Storage), DBAs (DB2, IMS, Adabas, Oracle, SQL Server), Schedulers, Operators, Software Developers, Accountants, Engineers, Lawyers, Web & Graphic Designers, Data Entry Executives, Transcriptionists, Internet Marketers, Content Writers, Finance Experts etc.
			</p>
		</div>
		<div id="howDoWorkContent" class="none">
			<h3>HOW DOES VIRTUAL EMPLOYEE WORK</h3><br>
			<ul>
				<li> Virtual Employee works directly for you just like a locally hired employee.</li>
				<li> Virtual Employee works with you remotely from our office in India. </li>
				<li> And so you work with your Virtual Employee via the internet, instead of face to face.</li>
				<li> You will be given complete control, you tell your Virtual Employee what to do and you work with them.</li>
				<li> You review your Virtual Employee’s work and they will follow your instructions only.</li>
				<li> A Virtual Employee is not a freelancer, however simply a remote employee, dedicated, supervised & professional.</li>
			</ul>
		</div>
		<div id="workRemotelyContent" class="none"> 
			<h3>WORKING REMOTELY!</h3><br>
			<ul>
				<li>Your VE is equipped with the latest computer hardware.</li>
				<li>You decide what software and hardware your VE uses to work with you remotely </li>
				<li>Our managers physically your VE to ensure they are working dedicatedly and following your instructions</li>
				<li>We are present 24*7 should you require any real-time assistance</li>
			</ul>
		</div>
		<div id="officeInIndiaContent" class="none"> 
			<h3>WE ARE A REMOTE EXTENSION OF YOUR LOCAL OFFICE</h3><br>
			<ul>
				<li>Think of your office as opening your very offshore office in India</li>
				<li>You hire a dedicated VE that works exclusively for and with you </li>
				<li>We act as your physical representatives on the ground in India</li>
				<li>We manage your employees as you instruct us to do</li>
				<li>That's not all we take care of all the non-work related issues and office logistics on your behalf.</li>
			</ul>
		</div>
		<div id="dataSecurityContent" class="none">
			<h3>RESPONSIBLE DATA SECURITY</h3><br>
			<ul>
				<li>Employee can work real-time on your computer.</li>
				<li>24*7 internet traffic surveillance by our IT team.</li>
				<li>Virtualization and Thin client - employee can work from a cloud environment</li>
				<li>Removable storage devices on PCs and laptops can be disabled.</li>
				<li>Websites and personal email accounts can be blocked.</li>
			</ul>
		</div>
		<div id="facilityContent" class="none"> 
			<h3>FACILITIES WE OFFER</h3><br>
			<ul>
				<li>Office located in the heart of National Capital Region of India.</li>
				<li>Multiple high-speed leased line internet connections.</li>
				<li>On site 24*7 power back-up & centralized air-conditioning.</li>
				<li>State-of-the art office facility, high quality infrastructure and spacious work stations.</li>
			</ul>
		</div>
		<div id="advantagesContent" class="none"> 
			<h3>VIRTUAL EMPLOYEE ADVANTAGE</h3><br>
			<ul>
				<li>Set up your own office in India at zero cost.</li>
				<li>Rolling monthly contact - no long term commitment.</li>
				<li>Hire professionals in any stream - build an offshore team.</li>
				<li>Time zone difference doesn't matter - your VE can work the same office hours as you.</li>
				<li>Offshore with control - no middle man - just hire and work with a VE like you would with a local employee.</li>
			</ul>
		
		</div>
		<div id="getStartedContent" class="none"> 
			<h3>GET STARTED!</h3><br>
			<ul>
				<li>Easy to start, just fill up our form.</li>
				<li>Choose your preferred recruitment option.</li>
				<li>Start receiving resumes.</li>
				<li>Interview and test the candidates we put forward.</li>
				<li>Select the employees you want to hire.</li>
				<li>If you are not impressed with any of the candidates, there is no obligation to use our service.</li>
			</ul>
		</div>
		<br><br>
		<div id ="veGetStartedButton" class="buttonStyle"> <a href="#" class="button">Get Started </a></div><br>	
	   </section>
	   
   <aside class="group2">
   <h3>Services</h3>

   <article class="holder_news">
   <h4>Training</h4>
   <p>need to write somethng here<span class="readmore">
   <a href="train.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Hiring</h4>
   <p>need to write somethng 
   <span class="readmore"><a href="hiring.html">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Virtual Employee</h4>
  <p>
			Hire a Full time Virtual Employee in any profession from India for only $1095-$2995/month 
	e.g. Project Managers, Mainframe System Programmers (z/OS, DB2, IMS, Adabas, CICS, Storage), DBAs (DB2, IMS, Adabas, Oracle, SQL Server), Schedulers, Operators, Software Developers, Accountants, Engineers, Lawyers, Web & Graphic Designers, Data Entry Executives, Transcriptionists, Internet Marketers, Content Writers, Finance Experts etc.
   <span class="readmore"><a href="virtualEmp.html">Read more..</a></span></p>
   </article>
   </aside>


   </div>
   </div>
   <footer>
	   <div class="container">  
  
  			<div id="FooterOne">
    			Call now at,<span id="contactno">09015760571<br></span>
   				Email:admin@talentmanpower.com
   	 		</div>
   			<img id="telephoneimage" src="../images/Telephone.jpg" style="width: 6%;float: right;">
   			<div id="FooterTwo"> © Talent Man Power </div>
   		</div>
   </footer>
   </body>
</html>